<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">HTTP Server settings</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group form-group-lg">
          <label class="control-label" for="service.name">Name</label>
          <input class="form-control" id="service.name" name="service.name" placeholder="My Service" ng-model="service.name"
            type="text">
          <span class="help-block">
            A friendly name, title, date, version or any other short description that helps you recognize this configuration
            when reporting to your metrics and traces systems.
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form-group-lg" ng-class="isInteger(service.port) ? '' : 'has-error'">
          <label class="control-label" for="service.port">Port</label>
          <input class="form-control" id="service.port" name="service.port" ng-model="service.port" placeholder="8080"
            type="number">
          <div class="help-block">
            <p ng-hide="isInteger(service.port)">Write a valid port number</p>
            <p>Port where KrakenD listens to connections, defaults to <code>8080</code>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>