<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">
			<input type="checkbox" ng-model="metrics_enabled" ng-checked="hasMiddleware('github_com/devopsfaith/krakend-ratelimit/juju/router')" ng-click="toggleMiddleware('github_com/devopsfaith/krakend-ratelimit/juju/router')"> Throttling and limits
		</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body" ng-if="hasMiddleware('github_com/devopsfaith/krakend-ratelimit/juju/router')">
		<middleware
			data=service
			namespace="'github_com/devopsfaith/krakend-ratelimit/juju/router'"
			template="ratelimit.html"
		</middleware>
	</div>
</div>