<div class="col-md-12">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Service Name</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <div class="form-group form-group-lg">
        <input class="form-control" id="service.name" name="service.name"
        placeholder="My Service" ng-model="service.name" type="text">
        <span class="help-block">
          A friendly name, title or shot description that will help you identify this service configuration.
        </span>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div ng-include src="'form_backends.html'"></div>
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Throttling and limits</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <p>Write here the default limits that will be used across all your endpoints. You can override rate limit and user quota
      per endpoint if needed. <strong>Read more on <a href="/docs/throttling/rate-limit">rate limiting</a></strong></p>

    <div class="form-group" ng-class="isInteger(service.max_idle_connections) ? '' : 'has-error'">
        <label class="control-label">Maximum IDLE connections per host</label>

        <input class="form-control"
        ng-model="service.max_idle_connections"
        type="text"
        ng-init="service.max_idle_connections=250">

        <span class="help-block">Maximum number of IDLE connections that you allow to the same host.
        Defaults to <code>250</code>.
        </span>
      </div>
      <div class="form-group" ng-class="isInteger(service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].maxRate) ? '' : 'has-error'">
        <label class="control-label">Default endpoint rate limit</label>
        <div class="input-group">
          <input class="form-control"
          ng-model="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].maxRate"
          id="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].maxRate"
          name="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].maxRate"
          type="text"
          ng-init="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].maxRate=0">
          <div class="input-group-addon">reqs/sec</div>
        </div>
        <span class="help-block">Maximum requests per second you want to let every endpoint handle. This value will
          be used as a default for all the endpoints you create unless overridden in its specific configuration. Leave <code>0</code> for no default limit.
        </span>
      </div>
      <div class="form-group" ng-class="isInteger(service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].clientMaxRate) ? '' : 'has-error'">
        <label class="control-label">Default user quota</label>
        <div class="input-group">
          <input class="form-control"
          ng-model="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].clientMaxRate"
          id="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].clientMaxRate"
          name="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].clientMaxRate"
          type="text"
          ng-init="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].clientMaxRate=0">
          <div class="input-group-addon">reqs/sec</div>
        </div>
        <span class="help-block">Maximum requests per second you want to allow to each different API user. This
          value will be used as default for all the endpoints unless overridden in each of them. Use <code>0</code>
          for no limitation.
        </span>
        <div ng-show="0 != service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].clientMaxRate">
          <p><strong>A unique user is identified by...</strong></p>
          <div class="input-group" class="form-control">
            <input type="radio" name="throttling_decorator" value="ip"
            ng-checked="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].key==''"
            ng-click="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].key=''"
            ng-model="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].strategy">
            Its originating IP
          </div>
          <div class="input-group" class="form-control">
            <input type="radio" name="throttling_decorator" value="header"
            ng-checked="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].key!=''"
            ng-model="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].strategy">
            A custom header:
            <input type="text" ng-model="service.extra_config['krakendesigner']['endpoint_defaults']['github.com/devopsfaith/krakend-ratelimit/juju/router'].key"
            placeholder="X-TOKEN">
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Timeouts and TTL</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <p>All settings below are used across all backends unless specifically overridden in each endpoint</p>

      <p ng-include src="'time_units.html'"></p>

      <div class="form-group" ng-class="isValidTimeUnit(service.timeout) ? '' : 'has-error'">
        <label class="control-label" for="service.timeout">Backend Timeout</label>
        <input class="form-control"
        id="service.timeout"
        name="service.timeout"
        ng-model="service.timeout"
        placeholder="3000ms"
        ng-init="service.timeout='3000ms'"
        type="text">
        <div class="help-block">
          <p ng-hide="isValidTimeUnit(service.timeout)" ng-include src="'time_units.html'"></p>
          <p>This is the <strong>default timeout</strong> for all the outgoing connections against your
            backends and takes into account the duration of all the pipe. This value can be overridden later on specific endpoints.</p>
        </div>
      </div>
      <div class="form-group" ng-class="isValidTimeUnit(service.read_timeout) ? '' : 'has-error'">
        <label class="control-label" for="service.read_timeout">HTTP Read Timeout</label>
        <input class="form-control"
        id="service.read_timeout"
        name="service.read_timeout"
        ng-model="service.read_timeout"
        placeholder="0s"
        ng-init="service.read_timeout='0s'"
        type="text">
        <div class="help-block">
          <p ng-hide="isValidTimeUnit(service.read_timeout)" ng-include src="'time_units.html'"></p>
          <p>Maximum duration for reading the entire http request, including the body.</p>
        </div>
      </div>
      <div class="form-group" ng-class="isValidTimeUnit(service.write_timeout) ? '' : 'has-error'">
        <label class="control-label" for="service.write_timeout">HTTP Write Timeout</label>
        <input class="form-control"
        id="service.write_timeout"
        name="service.write_timeout"
        ng-model="service.write_timeout"
        placeholder="0s"
        ng-init="service.write_timeout='0s'"
        type="text">
        <div class="help-block">
          <p ng-hide="isValidTimeUnit(service.write_timeout)" ng-include src="'time_units.html'"></p>
          <p>Maximum duration before timing out writes of the response</p>
        </div>
      </div>
      <div class="form-group" ng-class="isValidTimeUnit(service.idle_timeout) ? '' : 'has-error'">
        <label class="control-label" for="service.idle_timeout">HTTP Idle Timeout</label>
        <input class="form-control"
        id="service.idle_timeout"
        name="service.idle_timeout"
        ng-model="service.idle_timeout"
        placeholder="0s"
        ng-init="service.idle_timeout='0s'"
        type="text">
        <div class="help-block">
          <p ng-hide="isValidTimeUnit(service.idle_timeout)" ng-include src="'time_units.html'"></p>
          <p>Maximum amount of time to wait for the next request when keep-alives are enabled
        </div>
      </div>
      <div class="form-group" ng-class="isValidTimeUnit(service.read_header_timeout) ? '' : 'has-error'">
        <label class="control-label" for="service.read_header_timeout">HTTP Read Header Timeout</label>
        <input class="form-control"
        id="service.read_header_timeout"
        name="service.read_header_timeout"
        ng-model="service.read_header_timeout"
        placeholder="0s"
        ng-init="service.read_header_timeout='0s'"
        type="text">
        <div class="help-block">
          <p ng-hide="isValidTimeUnit(service.read_header_timeout)" ng-include src="'time_units.html'"></p>
          <p>Amount of time allowed to read request headers</p>
        </div>
      </div>
      <div class="form-group" ng-class="isValidTimeUnit(service.cache_ttl) ? '' : 'has-error'">
        <label class="control-label" for="service.cache_ttl">Default Cache TTL</label>
          <input
            class="form-control"
            ng-model="service.cache_ttl" type="text"
            placeholder="300"
            ng-init="service.cache_ttl='300s'">


        <div class="help-block">
          <p ng-hide="isValidTimeUnit(service.cache_ttl)" ng-include src="'time_units.html'"></p>
          <p ng-hide="isInteger(service.cache_ttl)">Value must be an integer expressing the number of seconds</p>
        </p>
        <p>Time the service considers the origin is still valid. Applies
          to GET requests only. The service does not cache anything but facilitates
        the headers for proxies to do the caching (e.g: Varnish server).</p>
      </div>


    </div>
  </div>
</div>
</div>
