<div class="col-md-12">
    <p class="box text-lg" ng-if="hasLocalSaveSupport()">
        <span class="badge"><i class="fa fa-info"></i></span>
        Good! Your browser seems to support all the Designer features! You can push changes to a local KrakenD from this website. <a href="https://www.krakend.io/docs/configuration/designer/">Learn more</a>.
    </p>
    <p class="box box-danger text-lg" ng-if="!hasLocalSaveSupport()">
        <span class="badge label-danger"><i class="fa fa-warning"></i></span>
        KrakenD Designer uses <strong>experimental technology</strong> available in Chrome, Edge, or Opera but not in your browser. You can still fully use the editor, except you cannot edit files on your hard drive and apply changes to KrakenD automatically after saving. Instead, you can load and download copies of configurations and operate KrakenD manually. <a href="https://www.krakend.io/docs/configuration/designer/">Learn more</a>.
    </p>
</div>
<div class="col-lg-6">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">What is the KrakenD Designer</h3>
        </div>
        <div class="box-body">
            <p>
                The KrakenD Designer is configuration builder, released as an open-source javascript application. It helps you create and edit
                <code>krakend.json</code> files to get started with the API Gateway in a visual way.
            </p>
            <p>It is a pure static page that <strong>does not send any of your configurations elsewhere nor track its
                contents.</strong> It's hosted online for convenience, but you can also run it locally.
            </p>
            <p>Use this page together with a <a href="https://www.krakend.io/docs/developer/hot-reload/">KrakenD Watch</a> image to apply the changes in your local server automatically.</p>
            <p>
              <a class="btn btn-primary" target="_blank" href="https://www.krakend.io/docs/configuration/designer/"><i class="fa fa-book"></i> Documentation</a>
            </p>
        </div>
    </div>
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">What can I do with KrakenD Designer?</h3>
        </div>
        <div class="box-body">
            <p>
                The KrakenD Designer generates a single configuration file. It is meant to become familiar with the JSON file and contains <strong>many number of functionalities</strong>.
            </p>
            <p>Because the interface might already look overwhelming given the number of features it displays, the most advanced flags and some features are not configurable here. Still, if you import and export files with these hidden attributes, the designer respects them.</p>
            <p>The main <strong>limitations</strong> of this tool are:</p>
            <ul>
                <li>You cannot work with Flexible Configuration (multiple configuration files)</li>
                <li>Use non-JSON formats, like YAML or TOML</li>
                <li>Administer a production gateway. This is meant to be a development tool.</li>
                <li>It does not check the validity of what you type.</li>
            </ul>
        </div>
    </div>
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Development tools</h3>
        </div>
        <div class="box-body">
            <p>The KrakenD designer outputs valid configurations respecting the schema. But we encourage you to <strong>edit the JSON file by hand</strong> and spend some time understanding its structure. There are a few resources that might help you:</strong></p>

            <ul class="list-styled">
                <li><a href="https://www.krakend.io/docs/configuration/structure/" target="_blank">Understanding the configuration file</a></li>
                <li><a href="https://www.krakend.io/docs/developer/hot-reload/" target="_blank">Hot reloading the configuration</a></li>
                <li><a href="https://www.krakend.io/docs/developer/ide-integration/" target="_blank">IDE integration</a></li>
                <li><a href="https://www.krakend.io/docs/configuration/check/" target="_blank">Validating the configuration with <code>check</code></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="box box-info" ng-if="hasLocalSaveSupport()">
        <div class="box-header with-border">
            <h3 class="box-title">Open and edit a file in your disk</h3>
        </div>
        <div class="box-body">
            <div ng-if="getOpenedFile()" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                </button>
                <h4><i class="fa fa-check"></i> Editing {{ getOpenedFile()}}</h4>
                The configuration file <strong>{{getOpenedFile()}}</strong> has been successfully loaded, and it will be overwritten every time you press Save.
            </div>
            <p>Edit a file directly from your disk, and overwrite it when you press Save. Only the <code>application/json</code> file type is
                accepted by the Designer.
            </p>
        </div>
    </div>
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Create a new config from an existing file (copy)</h3>
        </div>
        <div class="box-body">
            <div ng-if="dropzone_loaded" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                    ng-click="dropzone_loaded=!dropzone_loaded">×
                </button>
                <h4><i class="fa fa-check"></i> Configuration loaded</h4>
                The configuration file <strong>{{filename}}</strong> has been successfully loaded in the Designer.
            </div>
            <p>Drag and drop a previous configuration file below to create a copy of its configuration. After reviewing the values
                press the button to load it into the application. Only <code>application/json</code> file type is
                accepted
                by the Designer.
            </p>

            <div id="drop_zone" drop-box="[application/json, text/json]" file="filename" data="service_configuration"
                data-max-file-size="3">
                <h2>Drop a <code>krakend.json</code> to load a copy.</h2>
                (No content uploaded anywhere, your original file remains intact)
            </div>
        </div>
    </div>
</div>


<div id="dropzone_modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Load configuration from file <strong>{{filename}}</strong>?</h4>
            </div>
            <div class="modal-body">
                <p>The current session data will be replaced with the configuration below. Proceed? </p>
                <pre>{{ service_configuration }}</pre>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="loadFile()" data-dismiss="modal" class="btn btn-primary">Yes, load this
                    configuration
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>