<div class="col-lg-6">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Creating your first service?</h3>
        </div>
        <div class="box-body">
            <p>Hi, thanks for using the <strong>KrakenDesigner</strong>. This application creates the configuration
                that the KrakenD service loads. In order to configure properly the service take at least the following
                <strong>steps:</strong></p>

            <ul class="nav nav-pills nav-justified setup-panel">
                <li ng-class="service.sd_providers.length === 0 || !service.sd_providers ? '' : 'bg-success'">
                    <a href="/#/service">
                        <h4 class="list-group-item-heading">Step 1</h4>
                        <p class="list-group-item-text text-bold">Set the configuration</p>
                    </a></li>
                <li ng-class="service.endpoints.length === 0 || !service.endpoints? '' : 'bg-success'">
                    <a href="/#/endpoints">
                    <h4 class="list-group-item-heading">Step 2</h4>
                    <p class="list-group-item-text text-bold">Add an endpoint</p>
                </a>
                </li>
                <li ng-class="saved_once ? 'bg-success' : '' ">
                    <a href="/#/" ng-click="save()">
                    <h4 class="list-group-item-heading">Step 3</h4>
                    <p class="list-group-item-text text-bold">Download config</p>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Finished editing?</h3>
        </div>
        <div class="box-body">
            <p>Play with the forms as much as you want, nothing is saved until you press save. Every time you have
                finished configuring the service (or if you want to continue later) download the
                configuration file to your computer.</p>
            <p>The configuration file is needed to start the KrakenD service and contains the application
                definition.</p>
            <button id="download" name="download" class="btn btn-primaryli btn-lg" ng-click="save()">
                <i class="fa fa-save"></i> Download this configuration
            </button>
        </div>
    </div>
</div>
<div class="col-lg-6">


    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Load a previous configuration file</h3>
        </div>
        <div class="box-body">
            <p>Drag and drop a previous configuration file below to resume a configuration. After reviewing the values
                press the button to load it in the application. Only <code>application/json</code> file type is accepted
                by the KrakenDesigner.
            </p>

            <div id="drop_zone">
                <h2>Drop configuration file to load it.</h2>
                <small>(No content is uploaded to server, everything stays in your browser)</small>
            </div>
        </div>
    </div>
</div>


<div id="dropzone_modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Load this configuration?</h4>
            </div>
            <div class="modal-body">

                <div ng-if="dropzone_loaded" class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                            ng-click="dropzone_loaded=!dropzone_loaded">×
                    </button>
                    <h4><i class="fa fa-check"></i> Configuration loaded</h4>
                    The configuration file has been successfully loaded in KrakenDesigner.
                </div>


                <p>Current session data will be replaced with the configuration below. Proceed? </p>
                <pre>{{ service_configuration }}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="loadFile()" class="btn btn-primary">Yes, load this configuration
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="http://www.krakend.io/js/dragndrop.js"></script>
