<div class="col-md-12">
    <p class="box text-lg">
        <span class="badge"><i class="fa fa-info"></i></span> The Designer is an editor of
        <code>krakend.json</code> files. No content edited or loaded into the editor is tracked or uploaded in any way.
    </p>
</div>
<div class="col-lg-6">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">KrakenDesigner</h3>
        </div>
        <div class="box-body">
            <p>
                The KrakenDesigner is an open-source javascript application that helps you configure
                the API Gateway in a visual way and get familiar with the main functionalities KrakenD has.
            </p>
            <p>It is a pure static page that does not send any of your configurations elsewhere nor tracks its
                contents.
                It's hosted online for your convenience, but you can also run it as a <a
                    href="https://hub.docker.com/r/devopsfaith/krakendesigner">Docker container</a> or <a
                    href="https://github.com/krakendio/krakendesigner">build it from source</a>.
            </p>
            <p>By using this tool, you don't need to learn and write the configuration from scratch, dramatically
                reducing the learning curve.</p>
            <p>The Designer supports <strong>most of the functionalities</strong> of KrakenD, but it does not support <a href="https://www.krakend.io/docs/configuration/flexible-config/" target="_blank">flexible configuration</a> (multiple files)</p>
        </div>
    </div>
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Development tools</h3>
        </div>
        <div class="box-body">
            <p>The KrakenD designer outputs valid configurations respecting the schema. But we encourage you to <strong>edit the JSON file by hand</strong> and spend some time understanding its structure. There are few resources that might help you:</strong></p>

            <ul class="list-styled">
                <li><a href="https://www.krakend.io/docs/configuration/structure/" target="_blank">Understanding the configuration file</a></li>
                <li><a href="https://www.krakend.io/docs/developer/hot-reload/" target="_blank">Hot reloading the configuration</a></li>
                <li><a href="https://www.krakend.io/docs/developer/ide-integration/" target="_blank">IDE integration</a></li>
                <li><a href="https://www.krakend.io/docs/configuration/check/" target="_blank">Validating the configuration with <code>check</code></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Creating your first service?</h3>
        </div>
        <div class="box-body">
            <p>This application creates the configuration file KrakenD uses to operate. Start with at least the following <strong>steps:</strong></p>

            <ul class="nav nav-pills nav-justified setup-panel">
                <li ng-class="service.endpoints.length === 0 || !service.endpoints? '' : 'bg-success'">
                    <a href="/#!/endpoints">
                        <h4 class="list-group-item-heading">Step 1</h4>
                        <p class="list-group-item-text text-bold">Add an endpoint</p>
                    </a>
                </li>
                <li ng-class="saved_once ? 'bg-success' : '' ">
                    <a href="/#!/" ng-click="save()">
                        <h4 class="list-group-item-heading">Step 2</h4>
                        <p class="list-group-item-text text-bold">Download the config</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Loading previous configurations</h3>
        </div>
        <div class="box-body">
            <div ng-if="dropzone_loaded" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                    ng-click="dropzone_loaded=!dropzone_loaded">×
                </button>
                <h4><i class="fa fa-check"></i> Configuration loaded</h4>
                The configuration file <strong>{{filename}}</strong> has been successfully loaded in KrakenDesigner.
            </div>
            <p>Drag and drop a previous configuration file below to resume a configuration. After reviewing the values
                press the button to load it in the application. Only <code>application/json</code> file type is
                accepted
                by the KrakenDesigner.
            </p>

            <div id="drop_zone" drop-box="[application/json, text/json]" file="filename" data="service_configuration"
                data-max-file-size="3">
                <h2>Drop a <code>krakend.json</code> to edit it.</h2>
                (No content uploaded anywhere)
            </div>
        </div>
    </div>
</div>


<div id="dropzone_modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Load configuration from file <strong>{{filename}}</strong>?</h4>
            </div>
            <div class="modal-body">
                <p>Current session data will be replaced with the configuration below. Proceed? </p>
                <pre>{{ service_configuration }}</pre>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="loadFile()" data-dismiss="modal" class="btn btn-primary">Yes, load this
                    configuration
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>