<plugin root="service" placement="service" template="static-filesystem.html" plugin="'static-filesystem'"
    type="'plugin/http-server'"></plugin>

<div class="box box-info" ng-repeat="(endpoint_index,endpoint) in service.endpoints"
    ng-class="isValidEndpoint(endpoint.endpoint) ? '' : 'box-danger'" id="e{{ endpoint_index }}">
    <div class="box-header with-border">
        <h3 class="box-title">
            <a href="/#!/endpoints?target={{endpoint_index}}">
                {{ endpoint.endpoint }}<span ng-hide="!hasWildcard(endpoint.endpoint)"
                    class="label-wildcard-asterisk">/<i class="fa fa-asterisk"></i></span>
                <span ng-hide="!hasWildcard(endpoint.endpoint)" class="badge label-wildcard">Wildcard</span>
                <code class="small" ng-if="endpoint.input_query_strings.length > 0">
                    ?<span ng-repeat="qs in endpoint.input_query_strings">{{ qs }}=X{{ $last ? '' : '&' }}</span>
                </code>

            </a>
        </h3>

        <div class="box-tools pull-right">
            <span ng-hide="isValidEndpoint(endpoint.endpoint)" class="badge label-danger"><i class="fa fa-warning"></i>
                Error(s)</span>
            <span class="badge" ng-class="endpoint.output_encoding =='no-op' ? 'label-danger' : ''">{{
                endpoint.output_encoding }}</span>
            <span class="method_header badge method_{{ endpoint.method.length ? endpoint.method : 'GET' }}">{{
                endpoint.method.length ? endpoint.method : 'GET' }}</span>
            <button type="button" class="btn btn-box-tool"
                ng-click="deleteEndpoint(endpoint_index, 'This endpoint and all the information will be deleted. Do you want to proceed?')">
                <i class="fa fa-trash"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="endpoint-detail-{{endpoint_index}}"
        ng-if="selected_endpoint == endpoint_index && selected_endpoint.length">
        <form class="form-horizontal" novalidate>
            <fieldset>
                <div ng-class="isValidEndpoint(endpoint.endpoint) ? '' : 'has-error'" class="form-group form-group-lg">
                    <div class="col-md-6 col-sm-6">
                        <label>KrakenD Endpoint</label>
                        <input type="text" placeholder="/users/{username}" class="form-control input-md" required=""
                            ng-model="endpoint.endpoint" ng-disabled="hasWildcard(endpoint.endpoint)">
                        <span class="help-block">This is the URI your clients will connect to. Must start with slash.
                            Use curly braces to insert <code>{parameters}</code> that can be passed to the
                            backends.</span>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <plugin root="service" placement="endpoint" template="wildcard.html" plugin="'wildcard'"
                            type="'plugin/http-server'"></plugin>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <label>Method</label>
                        <select id="endpoint.method" ng-model="endpoint.method" name="endpoint.method"
                            class="form-control"
                            ng-change="updateNonGETBackends(endpoint_index, '{{ endpoint.method }}', 'Non-GET methods forward the request to a single backend query (the first one). The rest will be deleted from this form. Proceed?')">
                            <option value="GET">GET</option>
                            <option value="POST">POST</option>
                            <option value="PUT">PUT</option>
                            <option value="PATCH">PATCH</option>
                            <option value="DELETE">DELETE</option>
                        </select>
                        <span class="help-block">Method</span>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <label>Output</label>
                        <select class="form-control" ng-model="endpoint.output_encoding" id="endpoint.output_encoding"
                            name="endpoint.output_encoding"
                            ng-change="setNoOpEncoding(endpoint_index, endpoint.output_encoding, '{{ endpoint.output_encoding }}', null)">
                            <option value="json">JSON object</option>
                            <option value="json-collection">JSON array</option>
                            <option value="fast-json">Fast JSON (EE)</option>
                            <option value="negotiate">Negotiate content</option>
                            <option value="string">String (text/plain)</option>
                            <option value="no-op">No-op (just proxy)</option>
                        </select>
                        <span class="help-block">Encode response as...</span>
                    </div>
                </div>

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-target="#tab-endpoint{{endpoint_index}}-parameter-forwarding" data-toggle="tab"
                                aria-expanded="true">Parameter
                                forwarding</a>
                        </li>
                        <li>
                            <a data-target="#tab-endpoint{{endpoint_index}}-auth" data-toggle="tab"
                                aria-expanded="false">Auth</a>
                        </li>
                        <li>
                            <a data-target="#tab-endpoint{{endpoint_index}}-security-validation" data-toggle="tab"
                                aria-expanded="false">Security and validation</a>
                        </li>
                        <li>
                            <a data-target="#tab-endpoint{{endpoint_index}}-throttling" data-toggle="tab"
                                aria-expanded="false">Throttling</a>
                        </li>
                        <li>
                            <a data-target="#tab-endpoint{{endpoint_index}}-manipulation" data-toggle="tab"
                                aria-expanded="false">Data and
                                Manipulation</a>
                        </li>
                        <li>
                            <a data-target="#tab-endpoint{{endpoint_index}}-documentation" data-toggle="tab"
                                aria-expanded="false">Documentation</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-endpoint{{endpoint_index}}-parameter-forwarding">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label>Recognized query string parameters (?param=value)</label>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="parameter_name" type="url"
                                            id="addQuerystring_{{ endpoint_index }}">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-success"
                                                ng-click="addQuerystring(endpoint_index)">
                                                <i class="fa fa-plus"></i> Add parameter
                                            </button>
                                        </div>
                                    </div>
                                    <div class="help-block">
                                        <ul class="list-inline">
                                            <li ng-repeat="(qs_index,qs) in endpoint.input_query_strings">
                                                <a class="badge badge-remove"
                                                    ng-click="deleteQuerystring(qs_index,endpoint_index)"
                                                    title="Click to delettab-security-validatione parameter"><i
                                                        class="fa fa-times"></i> {{ qs
                                                    }} </a>
                                            </li>
                                            <li ng-if="!endpoint.input_query_strings.length">No query parameters are
                                                active yet.
                                                Typical
                                                parameters are <code>page</code>, <code>limit</code>,
                                                <code>search</code>...
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="help-block">Query string parameters to be passed to the backends when
                                        present.
                                        Write only the name of the
                                        parameter, no question mark or equal symbols.</span>
                                </div>
                                <div class="col-md-4">
                                    <label>Headers passing to backend</label>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="header_name" type="text" required=""
                                            ng-model="input_header">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-success"
                                                ng-click="addHeaderPassing(endpoint_index,input_header)">
                                                <i class="fa fa-plus"></i> Add header
                                            </button>
                                        </div>
                                    </div>
                                    <span class="help-block">Unless added here, no headers from the client will reach
                                        the backends.
                                        Use only if you need
                                        custom headers to reach your backend (e.g.: <code>Content-Type</code>). Add a
                                        single
                                        <code>*</code> to pass all headers (security concerns)</span>
                                    <div class="input-group">
                                        <ul class="list-unstyled">
                                            <li ng-repeat="(index,header) in endpoint.input_headers">
                                                <a class="badge badge-remove"
                                                    ng-click="deleteHeaderPassing(endpoint_index,index)"><i
                                                        class="fa fa-times"></i>
                                                    {{ header }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4"
                                    ng-class="isInteger(endpoint.concurrent_calls) ? '' : 'has-error'">
                                    <label>Concurrent Calls</label>
                                    <input type="number" class="form-control" ng-model="endpoint.concurrent_calls">
                                    <span class="help-block">
                                        <p ng-hide="isInteger(endpoint.concurrent_calls)" class="badge label-danger">
                                            <i class="fa fa-warning"></i> Use an integer
                                        </p>
                                        <p>Parallel requests you want to send to the backend <strong>for the same
                                                request</strong>.
                                            Fastest request is taken and the rest are discarded. This value should be
                                            between 1 and
                                            3 (or higher if your backend can support very high load)</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-endpoint{{endpoint_index}}-auth">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <middleware template="jose_validator.html" namespace="'auth/validator'"
                                                data="endpoint"></middleware>
                                            <middleware template="jose_signer.html" namespace="'auth/signer'"
                                                data="endpoint">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="box box-info box-solid">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">
                                                        API-Key Authentication
                                                    </h3>
                                                    <div class="pull-right" ng-include src="'/src/app/layout/docs.html'"
                                                        ng-repeat="doc in [{'ee': true, 'url':'/authentication/api-keys/'}]">
                                                    </div>
                                                </div>
                                                <div class="box-body">
                                                    <p ng-if=" !hasServiceExtraConfig('auth/api-keys')">API Keys are not
                                                        enabled
                                                        yet.</p>
                                                    <div class="form-group"
                                                        ng-if="hasServiceExtraConfig('auth/api-keys')">
                                                        <div class="col-md-12">
                                                            <p ng-if="!endpoint.extra_config['auth/api-keys'].roles">
                                                                <i class="fa fa-warning icon-warning"></i> This endpoint
                                                                is not
                                                                protected by API Keys unless you select at least an
                                                                available role
                                                                below
                                                            </p>
                                                            <table class="table table-striped">
                                                                <tbody>
                                                                    <tr>
                                                                        <th width="50%">Available Roles</th>
                                                                        <th width="50%">Granted Roles</th>
                                                                    </tr>

                                                                    <tr>
                                                                        <td>
                                                                            <ul class="list-inline">
                                                                                <li
                                                                                    ng-repeat="role in getAPIKeyRoles()">
                                                                                    <a class="badge badge-inverse"
                                                                                        ng-click="addAPIKeyRole(endpoint_index, role)">
                                                                                        {{ role }} <i
                                                                                            class="fa fa-arrow-right"></i></a>
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                        <td>
                                                                            <p
                                                                                ng-if="!endpoint.extra_config['auth/api-keys'].roles">
                                                                                <i
                                                                                    class="fa fa-warning icon-warning"></i>
                                                                                None
                                                                                selected
                                                                            </p>
                                                                            <ul class="list-inline">
                                                                                <li
                                                                                    ng-repeat="(role_index,role) in endpoint.extra_config['auth/api-keys'].roles">
                                                                                    <a class="badge badge-remove"
                                                                                        ng-click="deleteAPIKeyRole(endpoint_index, role_index)"><i
                                                                                            class="fa fa-times"></i>
                                                                                        {{ role }}</a>
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="col-md-12"
                                                            ng-if="endpoint.extra_config['auth/api-keys'].roles">
                                                            <label class="control-label">Rate limit by API Key</label>
                                                            <div class="input-group">
                                                                <input class="form-control"
                                                                    ng-model="endpoint.extra_config['auth/api-keys'].client_max_rate"
                                                                    id="endpoint.extra_config['auth/api-keys'].client_max_rate"
                                                                    name="endpoint.extra_config['auth/api-keys'].client_max_rate"
                                                                    type="number">
                                                                <div class="input-group-addon">reqs/sec</div>
                                                            </div>
                                                            <span class="help-block">Maximum requests per second you
                                                                want to let
                                                                each API-keys do. Leave <code>0</code> or empty for no
                                                                limit.
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <p><a href="/#!/api-keys">Enable and configure API Keys</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-endpoint{{endpoint_index}}-throttling">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <p ng-include src="'/src/app/forms/endpoint_timeout.html'"></p>
                                    <middleware data="endpoint" namespace="'qos/ratelimit/router'"
                                        template="ratelimit_router.html"></middleware>
                                </div>
                                <div class="col-md-6">
                                    <plugin root="service" placement="endpoint" template="redis-ratelimit.html"
                                        plugin="'redis-ratelimit'" type="'plugin/http-server'"></plugin>
                                    <plugin root="service" placement="endpoint" template="ipfilter.html"
                                        plugin="'ip-filter'" type="'plugin/req-resp-modifier'"></plugin>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-endpoint{{endpoint_index}}-security-validation">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <middleware template="security-policies.html" namespace="'security/policies'"
                                        data="endpoint"></middleware>
                                </div>
                                <div class="col-md-6">
                                    <middleware template="schema-validation.html" namespace="'validation/json-schema'"
                                        data="endpoint"></middleware>
                                    <plugin root="service" placement="endpoint"
                                        template="response-schema-validator.html" plugin="'response-schema-validator'"
                                        type="'plugin/req-resp-modifier'">
                                    </plugin>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-endpoint{{endpoint_index}}-manipulation">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div ng-include src="'/src/app/forms/static-response.html'"></div>
                                    <middleware template="jmespath.html" namespace="'modifier/jmespath'"
                                        data="endpoint"></middleware>
                                    <middleware template="websocket.html" namespace="'websocket'" data="endpoint">
                                    </middleware>

                                </div>
                                <div class="col-md-6">
                                    <plugin root="service" placement="endpoint" template="content-replacer.html"
                                        plugin="'content-replacer'" type="'plugin/req-resp-modifier'"></plugin>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-endpoint{{endpoint_index}}-documentation">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <middleware template="openapi_endpoint.html" namespace="'documentation/openapi'"
                                        data="endpoint">
                                    </middleware>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-md-12">
                        <h3>Backends (Upstream) for <code>{{ endpoint.endpoint }}</code></h3>
                        <input type="checkbox" ng-model="endpoint.extra_config['proxy'].sequential">
                        <strong>Enable sequential proxy</strong>
                        <span class="help-block">
                            When the sequential proxy is enabled a backend call can use data from a previous call. The
                            data
                            from previous calls is available in a variable like <code>{resp0_XXXX}</code> where
                            <code>0</code>
                            is the index of the backend and <code>XXXX</code> the attribute. E.g:
                            <code>{resp1_hotel_id}</code>
                            takes the field <code>hotel_id</code> from the second backend call (index starts at 0).
                            Inject this variable in the desired backend endpoint.
                        </span>

                    </div>
                    <div class="col-md-12" ng-repeat="(backend_index,backend) in endpoint.backend">
                        <div class="box box-info box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    <span
                                        class="method_header badge method_{{ backend.method.length ? backend.method : 'GET' }}">{{
                                        backend.method.length ? backend.method : 'GET' }}</span>
                                    {{ backend.url_pattern }}
                                </h3>
                                <div class="box-tools pull-right">
                                    <span ng-show="!backend.host.length" class="badge label-danger"><i
                                            class="fa fa-warning"></i> Select a host!</span>
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool"
                                        ng-click="deleteBackendQuery(endpoint_index,backend_index,'This endpoint and all the information will be deleted. Do you want to proceed?')">
                                        <i class="fa fa-trash"></i></button>

                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a data-target="#tab-backend{{endpoint_index}}-{{backend_index}}-request"
                                                data-toggle="tab" aria-expanded="true">Request</a>
                                        </li>
                                        <li>
                                            <a data-target="#tab-backend{{endpoint_index}}-{{backend_index}}-response"
                                                data-toggle="tab" aria-expanded="false">Response manipulation</a>
                                        </li>
                                        <li>
                                            <a data-target="#tab-backend{{endpoint_index}}-{{backend_index}}-throttling"
                                                data-toggle="tab" aria-expanded="false">Throttling</a>
                                        </li>
                                        <li>
                                            <a data-target="#tab-backend{{endpoint_index}}-{{backend_index}}-connectivity"
                                                data-toggle="tab" aria-expanded="false">Connectivity</a>
                                        </li>
                                        <li>
                                            <a data-target="#tab-backend{{endpoint_index}}-{{backend_index}}-auth"
                                                data-toggle="tab" aria-expanded="false">Auth</a>
                                        </li>
                                        <li>
                                            <a data-target="#tab-backend{{endpoint_index}}-{{backend_index}}-security-validation"
                                                data-toggle="tab" aria-expanded="false">Security and validation</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active"
                                            id="tab-backend{{endpoint_index}}-{{backend_index}}-request">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label>Connect to host(s)</label>
                                                    <button class="btn btn-default btn-flat form-control"
                                                        ng-class="!backend.host.length ? 'label-danger' : ''"
                                                        data-toggle="modal" data-target="#add-hosts-modal">
                                                        <i class="fa fa-wrench"></i> Add host
                                                    </button>
                                                    <div ng-repeat="host in sd_providers.hosts | filter: backend.sd"
                                                        value="{{ host.host }}" class="form-control">

                                                        <input type="checkbox" ng-model="checked"
                                                            ng-checked="OneOfHostsInBackend(endpoint_index, backend_index,host.host)"
                                                            ng-change="syncHostsInBackend(endpoint_index, backend_index, checked, host.host, host.disable_host_sanitize)">
                                                        {{ host.host }}

                                                    </div>
                                                    <div class="radio-inline" ng-repeat="sd in sd_providers.providers">
                                                        <label>
                                                            <input type="radio" ng-model="backend.sd" value="{{ sd }}"
                                                                ng-change="deleteHostsInBackend(endpoint_index, backend_index)">
                                                            {{ sd }}
                                                        </label>
                                                    </div>
                                                    <span class="help-block">When several, apply round-robin
                                                        (balancing)</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Method</label>
                                                    <select id="backend.method" ng-model="backend.method"
                                                        name="backend.method" class="form-control">
                                                        <option value="GET">GET</option>
                                                        <option value="POST">POST</option>
                                                        <option value="PUT">PUT</option>
                                                        <option value="PATCH">PATCH</option>
                                                        <option value="DELETE">DELETE</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>URL</label>
                                                    <input type="text" placeholder="/users/{username}"
                                                        class="form-control" required="" ng-model="backend.url_pattern">

                                                    <span class="help-block">The endpoint of the backend server to
                                                        query. Reuse here
                                                        any <code>{parameters}</code> defined in the parent endpoint.
                                                        Also see <a
                                                            href="https://www.krakend.io/docs/enterprise/endpoints/dynamic-routing/">Header
                                                            routing</a>
                                                    </span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Decode as:</label>
                                                    <select class="form-control" ng-model="backend.encoding"
                                                        ng-disabled="endpoint.output_encoding == 'no-op'"
                                                        ng-change="setNoOpEncoding(endpoint_index, backend.encoding, '{{ backend.encoding }}', backend_index)">
                                                        <option selected value="json">JSON</option>
                                                        <option value="xml">XML</option>
                                                        <option value="rss">RSS</option>
                                                        <option value="string">String</option>
                                                        <option value="no-op">No-Op (Leave as is)</option>
                                                    </select>
                                                    <span class="help-block">How to decode the response of the
                                                        backend.</span>
                                                </div>

                                                <div class="col-md-2">
                                                    <label>Resolution</label>
                                                    <div class="input-group">
                                                        <input type="checkbox" ng-model="backend.disable_host_sanitize">
                                                        Disable sanitization
                                                    </div>
                                                    <span class="help-block">
                                                        For non-HTTP hosts. If unsure, leave the proposed value.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane"
                                            id="tab-backend{{endpoint_index}}-{{backend_index}}-response">
                                            <p ng-if="endpoint.output_encoding == 'no-op'">
                                                When using <code>no-op</code> (no operation) you are telling KrakenD to
                                                not perform any manipulation option, and several modules requiring
                                                parsing the content are now hidden.
                                            </p>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div ng-include src="'/src/app/forms/manipulation.html'"
                                                        ng-if="endpoint.output_encoding != 'no-op'"></div>
                                                    <middleware data="backend" template="http_cache.html"
                                                        namespace="'qos/http-cache'"></middleware>
                                                </div>
                                                <div class="col-md-6">
                                                    <middleware template="jmespath.html" namespace="'modifier/jmespath'"
                                                        data="backend" ng-if="endpoint.output_encoding != 'no-op'">
                                                    </middleware>
                                                    <plugin root="service" placement="backend"
                                                        template="content-replacer.html" plugin="'content-replacer'"
                                                        type="'plugin/req-resp-modifier'"
                                                        ng-if="endpoint.output_encoding != 'no-op'"></plugin>
                                                    <div ng-include src="'/src/app/forms/flatmap.html'"
                                                        ng-if="endpoint.output_encoding != 'no-op'"></div>
                                                    <div ng-include src="'/src/app/forms/martian.html'"
                                                        ng-if="endpoint.output_encoding != 'no-op'"></div>
                                                    <middleware data="backend" template="body-generator.html"
                                                        namespace="'modifier/body-generator'"></middleware>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane"
                                            id="tab-backend{{endpoint_index}}-{{backend_index}}-throttling">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <middleware data="backend"
                                                        inherit="service.extra_config['github_com/devopsfaith/krakend-circuitbreaker/gobreaker']"
                                                        template="gobreaker.html" namespace="'qos/circuit-breaker'">
                                                    </middleware>
                                                </div>
                                                <div class="col-md-6">
                                                    <middleware data="backend" namespace="'qos/ratelimit/proxy'"
                                                        template="ratelimit_backend.html"></middleware>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane"
                                            id="tab-backend{{endpoint_index}}-{{backend_index}}-connectivity">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <middleware data="backend" template="soap.html"
                                                        ng-click="backend.encoding = 'xml'; backend.method='POST'"
                                                        namespace="'backend/soap'"></middleware>
                                                    <middleware data="backend" template="graphql.html"
                                                        namespace="'backend/graphql'"></middleware>
                                                    <middleware data="backend" template="amqp_consumer.html"
                                                        namespace="'backend/amqp/consumer'"></middleware>
                                                    <middleware data="backend" template="lambda.html"
                                                        namespace="'backend/lambda'">
                                                    </middleware>

                                                </div>
                                                <div class="col-md-6">
                                                    <middleware data="backend" template="pubsub_subscriber.html"
                                                        namespace="'backend/pubsub/susbcriber'"></middleware>
                                                    <middleware data="backend" template="pubsub_publisher.html"
                                                        namespace="'backend/pubsub/publisher'"></middleware>
                                                    <middleware data="backend" template="amqp_producer.html"
                                                        namespace="'backend/amqp/producer'"></middleware>
                                                    <plugin root="service" placement="backend"
                                                        template="no-redirect.html" plugin="'no-redirect'"
                                                        type="'plugin/http-client'"></plugin>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab-backend{{endpoint_index}}-{{backend_index}}-auth">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <middleware data="backend"
                                                        inherit="service.extra_config['auth/client-credentials']"
                                                        template="oauth.html" namespace="'auth/client-credentials'">
                                                    </middleware>
                                                </div>

                                                <div class="col-md-6">
                                                    <plugin root="service" placement="backend"
                                                        template="http-proxy.html" plugin="'http-proxy'"
                                                        type="'plugin/http-client'"></plugin>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane"
                                            id="tab-backend{{endpoint_index}}-{{backend_index}}-security-validation">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <middleware template="security-policies.html"
                                                        namespace="'security/policies'" data="backend"></middleware>
                                                </div>
                                                <div class="col-md-6">
                                                    <plugin root="service" placement="backend"
                                                        template="response-schema-validator.html"
                                                        plugin="'response-schema-validator'"
                                                        type="'plugin/req-resp-modifier'">
                                                    </plugin>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div><!-- ngif output_encoding != no-op -->
                            <!-- /.box-body -->
                        </div>

                        <div id="add-hosts-modal" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Add hosts</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Define at least one host (upstream service) where KrakenD will take the data
                                            from.</p>
                                        <div ng-include src="'/src/app/forms/backends.html'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Modal backend -->
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-primary" ng-click="addBackendQuery(endpoint_index)"
                            ng-if="! endpoint.backend || endpoint.backend.length < 1 || ( endpoint.method =='GET' && !(endpoint.output_encoding == 'no-op' && endpoint.backend.length > 0))">
                            <i class="fa fa-plus"></i>
                            Add backend query
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div><!-- /.box-body -->
</div><!-- endpoint index -->
<button class="btn btn-lg btn-success" ng-click="addEndpoint()">Add endpoint</button>