<div class="box box-info" ng-if="service.extra_config['plugin/http-server']['krakend-static-live']">
    <div class="box-header with-border">
        <h3 class="box-title">Static files <span class="badge ">Enterprise</span></h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" ng-click="deleteHttpServerPlugin('krakend-static-live')">
                <i class="fa fa-trash"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            <div class="col-md-6">
                <label>URL</label>
                <input type="text" placeholder="" class="form-control"
                    ng-model="service.extra_config['plugin/http-server']['krakend-static-live'].prefix" />
                <span class="help-block">This is the beginning of all URLs that are resolved using this plugin. All
                    matching URLs won't be evaluated as endpoints. Make sure you are not overwriting valid
                    endpoints.</span>
            </div>
            <div class="col-md-6">
                <label>Filesystem path</label>
                <input type="text" placeholder="" class="form-control"
                    ng-model="service.extra_config['plugin/http-server']['krakend-static-live'].path" />
                <span class="help-block">The path in the filesystem containing the static files. Relative to the working
                    dir or absolute.</span>
            </div>
        </div>
    </div>
</div>

<div class="box box-info" ng-repeat="(endpoint_index,endpoint) in service.endpoints"
    ng-class="isValidEndpoint(endpoint.endpoint) ? '' : 'box-danger'" id="e{{ endpoint_index }}">
    <div class="box-header with-border">
        <h3 class="box-title">
            <a href="/#!/endpoints?target={{endpoint_index}}">
                {{ endpoint.endpoint }}<span ng-hide="!hasWildcard(endpoint.endpoint)"
                    class="label-wildcard-asterisk">/<i class="fa fa-asterisk"></i></span>
                <span ng-hide="!hasWildcard(endpoint.endpoint)" class="badge label-wildcard">Wildcard</span>
                <code class="small" ng-if="endpoint.input_query_strings.length > 0">
                    ?<span ng-repeat="qs in endpoint.input_query_strings">{{ qs }}=X{{ $last ? '' : '&' }}</span>
                </code>

            </a>
        </h3>

        <div class="box-tools pull-right">
            <span ng-hide="isValidEndpoint(endpoint.endpoint)" class="badge label-danger"><i class="fa fa-warning"></i>
                Error(s)</span>
            <span class="badge">{{ endpoint.output_encoding }}</span>
            <span class="method_header badge method_{{ endpoint.method.length ? endpoint.method : 'GET' }}">{{
                endpoint.method.length ? endpoint.method : 'GET' }}</span>
            <button type="button" class="btn btn-box-tool"
                ng-click="deleteEndpoint(endpoint_index, 'This endpoint and all the information will be deleted. Do you want to proceed?')">
                <i class="fa fa-trash"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="endpoint-detail-{{endpoint_index}}"
        ng-if="selected_endpoint == endpoint_index && selected_endpoint.length">
        <form class="form-horizontal" novalidate>
            <fieldset>
                <div ng-class="isValidEndpoint(endpoint.endpoint) ? '' : 'has-error'" class="form-group form-group-lg">
                    <div class="col-md-6 col-sm-6">
                        <label>KrakenD Endpoint</label>
                        <input type="text" placeholder="/users/{username}" class="form-control input-md" required=""
                            ng-model="endpoint.endpoint" ng-disabled="hasWildcard(endpoint.endpoint)">
                        <span class="help-block">This is the URI your clients will connect to. Must start with slash.
                            Use curly braces to insert <code>{parameters}</code> that can be passed to the
                            backends.</span>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <plugin root="service" placement="endpoint" template="wildcard.html" plugin="'krakend-wildcard'"
                            type="'plugin/http-server'"></plugin>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <label>Method</label>
                        <select id="endpoint.method" ng-model="endpoint.method" name="endpoint.method"
                            class="form-control"
                            ng-change="updateNonGETBackends(endpoint_index, '{{ endpoint.method }}', 'Non-GET methods forward the request to a single backend query (the first one). The rest will be deleted from this form. Proceed?')">
                            <option value="GET">GET</option>
                            <option value="POST">POST</option>
                            <option value="PUT">PUT</option>
                            <option value="PATCH">PATCH</option>
                            <option value="DELETE">DELETE</option>
                        </select>
                        <span class="help-block">Method</span>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <label>Output</label>
                        <select class="form-control" ng-model="endpoint.output_encoding" id="endpoint.output_encoding"
                            name="endpoint.output_encoding"
                            ng-change="setNoOpEncoding(endpoint_index, endpoint.output_encoding, '{{ endpoint.output_encoding }}', null)">
                            <option value="json">JSON</option>
                            <option value="negotiate">Negotiate content</option>
                            <option value="string">String (text/plain)</option>
                            <option value="no-op">No-op (just proxy)</option>
                        </select>
                        <span class="help-block">Encoding used</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label>Recognized query string parameters (?param=value)</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="parameter_name" type="url"
                                id="addQuerystring_{{ endpoint_index }}">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-success" ng-click="addQuerystring(endpoint_index)">
                                    <i class="fa fa-plus"></i> Add parameter
                                </button>
                            </div>
                        </div>
                        <div class="help-block">
                            <ul class="list-inline">
                                <li ng-repeat="(qs_index,qs) in endpoint.input_query_strings">
                                    <a class="badge badge-remove" ng-click="deleteQuerystring(qs_index,endpoint_index)"
                                        title="Click to delete parameter"><i class="fa fa-times"></i> {{ qs }} </a>
                                </li>
                                <li ng-if="!endpoint.input_query_strings.length">No query parameters are active yet.
                                    Typical
                                    parameters are <code>page</code>, <code>limit</code>, <code>search</code>...
                                </li>
                            </ul>
                        </div>
                        <span class="help-block">Query string parameters to be passed to the backends when present.
                            Write only the name of the
                            parameter, no question mark or equal symbols.</span>
                    </div>
                    <div class="col-md-4">
                        <label>Headers passing to backend</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="header_name" type="text" required=""
                                ng-model="input_header">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-success"
                                    ng-click="addHeaderPassing(endpoint_index,input_header)">
                                    <i class="fa fa-plus"></i> Add header
                                </button>
                            </div>
                        </div>
                        <span class="help-block">Unless added here, no headers from the client will reach the backends.
                            Use only if you need
                            custom headers to reach your backend (e.g.: <code>Content-Type</code>). Add a single
                            <code>*</code> to pass all headers (security concerns)</span>
                        <div class="input-group">
                            <ul class="list-unstyled">
                                <li ng-repeat="(index,header) in endpoint.input_headers">
                                    <a class="badge badge-remove"
                                        ng-click="deleteHeaderPassing(endpoint_index,index)"><i class="fa fa-times"></i>
                                        {{ header }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4" ng-class="isInteger(endpoint.concurrent_calls) ? '' : 'has-error'">
                        <label>Concurrent Calls</label>
                        <input type="number" class="form-control" ng-model="endpoint.concurrent_calls">
                        <span class="help-block">
                            <p ng-hide="isInteger(endpoint.concurrent_calls)" class="badge label-danger">
                                <i class="fa fa-warning"></i> Use an integer
                            </p>
                            <p>Parallel requests you want to send to the backend <strong>for the same request</strong>.
                                Fastest request is taken and the rest are discarded. This value should be between 1 and
                                3 (or higher if your backend can support very high load)</p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Rate limit</label>
                        <br />
                        <button class="btn btn-default btn-flat" data-toggle="modal"
                            data-target="#throttling-modal-{{ endpoint_index }}">
                            <i class="fa fa-wrench"></i> Stateless rate-limit
                        </button>
                        <span class="label label-success"
                            ng-if="endpoint.extra_config['qos/ratelimit/router']">on</span>
                        <span class="label label-default"
                            ng-if="!endpoint.extra_config['qos/ratelimit/router']">off</span>
                        <span class="help-block">
                            Enable usage limits for this endpoint
                        </span>
                    </div>
                    <div class="col-md-3">
                        <label>Global Rate limit <span class="badge">Enterprise</span></label>
                        <br />
                        <button class="btn btn-default btn-flat" data-toggle="modal"
                            data-target="#throttling-redis-modal-{{ endpoint_index }}">
                            <i class="fa fa-wrench"></i> Stateful rate-limit
                        </button>
                        <span class="label label-success"
                            ng-if="endpoint.extra_config['plugin/http-server']['redis-ratelimit']">on</span>
                        <span class="label label-default"
                            ng-if="!endpoint.extra_config['plugin/http-server']['redis-ratelimit']">off</span>
                        <span class="help-block">
                            Stateful/centralized rate-limiting backed on Redis.
                        </span>
                    </div>

                    <div class="col-md-3">
                        <label>Timeout and Cache TTL</label>
                        <br />
                        <button class="btn btn-default btn-flat" data-toggle="modal"
                            data-target="#endpoint-modal-{{ endpoint_index }}">
                            <i class="fa fa-wrench"></i> Override defaults
                        </button>
                        <span class="help-block">
                            Override default settings for this endpoint.
                        </span>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <middleware template="openapi_endpoint.html" namespace="'documentation/openapi'"
                                    data="endpoint">
                                </middleware>
                            </div>
                            <div class="col-md-6">
                                <div class="box box-info box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            API-Key Authentication
                                        </h3>
                                        <div class="pull-right">
                                            <span class="pull-right-container badge badge-inverse">Enterprise</span>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <p ng-if=" !hasServiceExtraConfig('auth/api-keys')">API Keys are not enabled
                                            yet.</p>
                                        <div class="form-group" ng-if="hasServiceExtraConfig('auth/api-keys')">
                                            <div class="col-md-12">
                                                <p ng-if="!endpoint.extra_config['auth/api-keys'].roles">
                                                    <i class="fa fa-warning icon-warning"></i> This endpoint is not
                                                    protected by API Keys unless you select at least an available role
                                                    below
                                                </p>
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <th width="50%">Available Roles</th>
                                                            <th width="50%">Granted Roles</th>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li ng-repeat="role in getAPIKeyRoles()">
                                                                        <a class="badge badge-inverse"
                                                                            ng-click="addAPIKeyRole(endpoint_index, role)">
                                                                            {{ role }} <i
                                                                                class="fa fa-arrow-right"></i></a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                            <td>
                                                                <p
                                                                    ng-if="!endpoint.extra_config['auth/api-keys'].roles">
                                                                    <i class="fa fa-warning icon-warning"></i> None
                                                                    selected
                                                                </p>
                                                                <ul class="list-inline">
                                                                    <li
                                                                        ng-repeat="(role_index,role) in endpoint.extra_config['auth/api-keys'].roles">
                                                                        <a class="badge badge-remove"
                                                                            ng-click="deleteAPIKeyRole(endpoint_index, role_index)"><i
                                                                                class="fa fa-times"></i>
                                                                            {{ role }}</a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="control-label">Rate limit by API Key</label>
                                                <div class="input-group">
                                                    <input class="form-control"
                                                    ng-model="endpoint.extra_config['auth/api-keys'].client_max_rate"
                                                    id="endpoint.extra_config['auth/api-keys'].client_max_rate"
                                                    name="endpoint.extra_config['auth/api-keys'].client_max_rate"
                                                    type="number">
                                                    <div class="input-group-addon">reqs/sec</div>
                                                </div>
                                                <span class="help-block">Maximum requests per second you want to let each API-keys do. Leave <code>0</code> for no limit.
                                                </span>
                                            </div>
                                        </div>

                                        <p><a href="/#!/api-keys">Enable and configure API Keys</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <plugin root="service" placement="endpoint" template="ipfilter.html"
                                    plugin="'krakend-ipfilter'" type="'plugin/req-resp-modifier'"></plugin>
                                <middleware template="jose_validator.html" namespace="'auth/validator'" data="endpoint">
                                </middleware>
                            </div>
                            <div class="col-md-6">
                                <middleware template="websocket.html" namespace="'websocket'" data="endpoint">
                                </middleware>
                                <middleware template="jose_signer.html" namespace="'auth/signer'" data="endpoint">
                                </middleware>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <h3>Backends (Upstream) for <code>{{ endpoint.endpoint }}</code></h3>
                        <input type="checkbox" ng-model="endpoint.extra_config['proxy'].sequential">
                        <strong>Enable sequential proxy</strong>
                        <span class="help-block">
                            When the sequential proxy is enabled a backend call can use data from a previous call. The
                            data
                            from previous calls is available in a variable like <code>{resp0_XXXX}</code> where
                            <code>0</code>
                            is the index of the backend and <code>XXXX</code> the attribute. E.g:
                            <code>{resp1_hotel_id}</code>
                            takes the field <code>hotel_id</code> from the second backend call (index starts at 0).
                            Inject this variable in the desired backend endpoint.
                        </span>

                    </div>
                    <div class="col-md-12" ng-repeat="(backend_index,backend) in endpoint.backend">
                        <div class="box box-info box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    <span
                                        class="method_header badge method_{{ backend.method.length ? backend.method : 'GET' }}">{{
                                        backend.method.length ? backend.method : 'GET' }}</span>
                                    {{ backend.url_pattern }}
                                </h3>
                                <div class="box-tools pull-right">
                                    <span ng-show="!backend.host.length" class="badge label-danger"><i
                                            class="fa fa-warning"></i> Select a host!</span>
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool"
                                        ng-click="deleteBackendQuery(endpoint_index,backend_index,'This endpoint and all the information will be deleted. Do you want to proceed?')">
                                        <i class="fa fa-trash"></i></button>

                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Request</h3>
                                        <p>All the data needed to send the request to the servers.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Hosts</label>
                                        <div ng-repeat="host in sd_providers.hosts | filter: backend.sd"
                                            value="{{ host.host }}">
                                            <label class="form-control">
                                                <input type="checkbox" ng-model="checked"
                                                    ng-checked="OneOfHostsInBackend(endpoint_index, backend_index,host.host)"
                                                    ng-change="syncHostsInBackend(endpoint_index, backend_index, checked, host.host, host.disable_host_sanitize)">
                                                {{ host.host }}
                                            </label>
                                        </div>
                                        <div class="radio-inline" ng-repeat="sd in sd_providers.providers">
                                            <label>
                                                <input type="radio" ng-model="backend.sd" value="{{ sd }}"
                                                    ng-change="deleteHostsInBackend(endpoint_index, backend_index)">
                                                {{ sd }}
                                            </label>
                                        </div>
                                        <button class="btn btn-default btn-flat form-control"
                                            ng-class="!backend.host.length ? 'label-danger' : ''" data-toggle="modal"
                                            data-target="#add-hosts-modal">
                                            <i class="fa fa-wrench"></i> Add host
                                        </button>
                                        <span class="help-block">Receiving services, balanced using Round Robin.</span>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Method</label>
                                        <select id="backend.method" ng-model="backend.method" name="backend.method"
                                            class="form-control">
                                            <option value="GET">GET</option>
                                            <option value="POST">POST</option>
                                            <option value="PUT">PUT</option>
                                            <option value="PATCH">PATCH</option>
                                            <option value="DELETE">DELETE</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Backend endpoint</label>
                                        <input type="text" placeholder="/users/{username}" class="form-control"
                                            required="" ng-model="backend.url_pattern">

                                        <span class="help-block">The endpoint of the backend server to query. Reuse here
                                            any <code>{parameters}</code> defined in the parent endpoint.</span>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Rate Limit</label>
                                        <br />
                                        <button class="btn btn-default btn-flat" data-toggle="modal"
                                            data-target="#backend-modal-{{ endpoint_index}}{{ backend_index }}">
                                            <i class="fa fa-wrench"></i> Rate-limit backend
                                        </button>
                                        <span class="label label-success"
                                            ng-if="backend.extra_config['qos/ratelimit/proxy']">on</span>
                                        <span class="label label-default"
                                            ng-if="!backend.extra_config['qos/ratelimit/proxy']">off</span>
                                        <span class="help-block">Limit requests to this backend regardless of its
                                            endpoint usage</span>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Resolution</label>
                                        <div class="input-group">
                                            <input type="checkbox" ng-model="backend.disable_host_sanitize">
                                            Disable sanitization
                                        </div>
                                        <span class="help-block">
                                            If unsure, leave the default.
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <middleware data="backend"
                                            inherit="service.extra_config['github_com/devopsfaith/krakend-circuitbreaker/gobreaker']"
                                            template="gobreaker.html" namespace="'qos/circuit-breaker'">
                                        </middleware>
                                        <middleware data="backend" template="amqp_consumer.html"
                                            namespace="'backend/amqp/consumer'"></middleware>
                                    </div>
                                    <div class="col-md-6">
                                        <middleware data="backend"
                                        inherit="service.extra_config['auth/client-credentials']"
                                        template="oauth.html" namespace="'auth/client-credentials'">
                                    </middleware>
                                        <middleware data="backend" template="amqp_producer.html"
                                            namespace="'backend/amqp/producer'"></middleware>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <middleware data="backend" template="pubsub_subscriber.html"
                                            namespace="'backend/pubsub/susbcriber'"></middleware>
                                    </div>
                                    <div class="col-md-6">
                                        <middleware data="backend" template="pubsub_publisher.html"
                                            namespace="'backend/pubsub/publisher'"></middleware>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <middleware data="backend" template="graphql.html"
                                            namespace="'backend/graphql'"></middleware>
                                    </div>
                                    <div class="col-md-6">
                                        <middleware data="backend" template="lambda.html" namespace="'backend/lambda'">
                                        </middleware>
                                    </div>
                                </div>
                                <div ng-if="endpoint.output_encoding != 'no-op'">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Response</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Decode as:</label>
                                            <select class="form-control" ng-model="backend.encoding"
                                                ng-change="setNoOpEncoding(endpoint_index, backend.encoding, '{{ backend.encoding }}', backend_index)">
                                                <option selected value="json">JSON</option>
                                                <option value="xml">XML</option>
                                                <option value="rss">RSS</option>
                                                <option value="string">String</option>
                                                <option value="no-op">No-Op (Leave as is)</option>
                                            </select>
                                            <span class="help-block">How to decode the response of the backend.</span>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Root object:</label>
                                            <input type="text" class="form-control" ng-model="backend.target"
                                                ng-disabled="backend.is_collection == true"
                                                placeholder="Leave blank to use all the reponse">
                                            <span class="help-block">Some APIs return all the content encapsulated
                                                inside
                                                a root object (usually named like <code>data</code>,
                                                <code>response</code>,
                                                <code>items</code>). Specifying here a root object will put all its
                                                children
                                                in the first level. When manipulating the data only its children are
                                                visible.</span>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Is a collection?</label>
                                            <div class="input-group">
                                                <input type="checkbox" ng-model="backend.is_collection"
                                                    ng-change="backend.target = ''"> Response is an array.
                                                <span class="help-block">KrakenD expects an object as a response (in
                                                    json inside brackets, e.g:
                                                    <code>{ "status":"OK" }</code> but if
                                                    the backend returns a collection instead (e.g:
                                                    <code>[ "a", "b" ]</code>) check
                                                    this option. The collection will be returned inside the
                                                    <code>collection</code>
                                                    attribute. Use the renaming below to rename it to anything
                                                    else.</span>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div ng-include src="'/src/app/forms/manipulation.html'"></div>
                                            <middleware data="backend" template="http_cache.html"
                                                namespace="'qos/http-cache'">
                                            </middleware>
                                        </div>
                                        <div class="col-md-6">
                                            <div ng-include src="'/src/app/forms/flatmap.html'"></div>
                                            <div ng-include src="'/src/app/forms/martian.html'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- ngif output_encoding != no-op -->
                            <!-- /.box-body -->
                        </div>

                        <div id="add-hosts-modal" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Add hosts</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Define at least one host (upstream service) where KrakenD will take the data
                                            from.</p>
                                        <div ng-include src="'/src/app/forms/backends.html'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal window backend -->
                        <div id="backend-modal-{{ endpoint_index}}{{ backend_index }}" class="modal fade" tabindex="-1"
                            role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Rate limit requests to
                                            <code>{{backend.url_pattern}}</code>
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <middleware data="backend" namespace="'qos/ratelimit/proxy'"
                                            template="ratelimit_backend.html"></middleware>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Modal backend -->
                        <div class="col-md-12" ng-if="endpoint.extra_config['proxy'].static">
                            <div class="box box-info box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Static Response (stub data)</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool"
                                            ng-click="deleteStaticResponse(endpoint_index)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="box-body">
                                    <p>When the backend fails you can still return the static data provided below to the
                                        user. The data is merged
                                        with any existing partial responses. If you still don't have a backend and want
                                        to
                                        have this data, add a fake one that cannot be resolved.
                                    </p>
                                    <div class="col-md-8">
                                        <label class="control-label">Response</label>
                                        <textarea json-formatter class="form-control"
                                            syntax="syntax_validation_static[backend_index]"
                                            ng-model="endpoint.extra_config['proxy'].static.data"></textarea>
                                        <p ng-show="syntax_validation_static[backend_index].length"
                                            class="badge label-danger">
                                            <i class="fa fa-warning"></i> Syntax error -
                                            {{syntax_validation_static[backend_index]}}
                                        </p>
                                        </p>
                                        <span class="help-block">Provide the JSON object you want to return (ensure to
                                            start
                                            and end with curly braces
                                            <code>{}</code>)</span>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Strategy</label>
                                        <select class="form-control"
                                            ng-model="endpoint.extra_config['proxy'].static.strategy">
                                            <option value="always">Always - Present in every response</option>
                                            <option value="success">Success - Present in every non-failed response
                                            </option>
                                            <option value="errored">Errored - Present in every failed response (error
                                                not
                                                nil)</option>
                                            <option value="incomplete">Incomplete - Present in incomplete responses
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-primary" ng-click="addBackendQuery(endpoint_index)"
                            ng-if="! endpoint.backend || endpoint.backend.length < 1 || ( endpoint.method =='GET' && !(endpoint.output_encoding == 'no-op' && endpoint.backend.length > 0))">
                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Add backend query
                        </button>
                        <button class="btn btn-primary" ng-click="addDefaultStaticResponse(endpoint_index)"
                            ng-disabled="endpoint.extra_config['proxy'].static || endpoint.output_encoding == 'no-op' || endpoint.backend.length == 0">
                            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Add static response (stub)
                        </button>
                    </div>
            </fieldset>
        </form>
    </div><!-- /.box-body -->

    <!-- Modal Window for rate limiting-->
    <div id="throttling-modal-{{ endpoint_index }}" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Rate limiting (throttling)</code></h4>
                </div>
                <div class="modal-body">
                    <middleware data="endpoint" namespace="'qos/ratelimit/router'" template="ratelimit_router.html">
                    </middleware>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Window for global rate limiting-->
    <div id="throttling-redis-modal-{{ endpoint_index }}" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Distributed rate limiting (throttling)</code></h4>
                </div>
                <div class="modal-body">
                    <plugin root="service" placement="endpoint" template="redis-ratelimit.html"
                        plugin="'redis-ratelimit'" type="'plugin/http-server'"></plugin>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Window for endpoint-->
    <div id="endpoint-modal-{{ endpoint_index }}" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Override global configuration for <code>{{ endpoint.endpoint }}</code></h4>
                </div>
                <div class="modal-body">
                    <p>All the settings below are defined in the <strong>Service configuration</strong>,
                        setting one or several values here means overriding the settings for this specific endpoint
                        only.</p>

                    <p ng-include src="'/src/app/forms/time_units.html'"></p>

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-4" ng-class="isValidTimeUnit(endpoint.timeout) ? '' : 'has-error'">
                                <label>Timeout</label>
                                <input class="form-control" type="text" ng-model="endpoint.timeout">
                                <div class="help-block">
                                    <p ng-hide="isValidTimeUnit(endpoint.timeout)" class="badge label-danger"><i
                                            class="fa fa-warning"></i> Invalid format</p>
                                    <p>Maximum time you'll wait for the slowest response. Usually in milliseconds
                                        (ms)</p>
                                </div>
                            </div>

                            <div class="col-md-6" ng-class="isValidTimeUnit(endpoint.cache_ttl) ? '' : 'has-error'">
                                <label>Cache TTL</label>
                                <input class="form-control" type="text" ng-model="endpoint.cache_ttl">
                                <div class="help-block">
                                    <p ng-hide="isValidTimeUnit(endpoint.cache_ttl)" class="badge label-danger"><i
                                            class="fa fa-warning"></i> Invalid format</p>
                                    <p>For how long a proxy can cache a request to this endpoint.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- endpoint index -->
<button class="btn btn-lg btn-success" ng-click="addEndpoint()">Add endpoint</button>