<!-- Sidebar Menu -->
<ul class="sidebar-menu" data-widget="tree" data-accordion="false" data-followLink="true">
    <li class="header">
        <button id="download" name="download" class="btn btn-success btn-lg pull-right" style="margin-bottom:10px" ng-click="save()">
        <i class="fa fa-save"></i> Download config
      </button>
    </li>
    <li class="active">
        <a href="/#!/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
    </li>

            <li><a href="/#!/service"><i class="fa fa-gear"></i>Service settings</a></li>
            <li><a href="/#!/security"><i class="fa fa-shield"></i>HTTP Security</a></li>
            <li><a href="/#!/logging"><i class="fa fa-area-chart"></i> <span>Telemetry and Analytics</span></a>
            <li><a href="/#!/api-keys"><i class="fa fa-key"></i> <span>API Keys</span></a>
            <li><a href="/#!/openapi"><i class="fa fa-book"></i> <span>OpenAPI</span></a>
            </li>

    <li class="treeview">
        <a href="/#!/endpoints"><i class="fa fa-th-list"></i> <span>Endpoints</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/#!/endpoints" ng-click="addEndpoint()"><i class="fa fa-plus"></i> Add endpoint</a>
            </li>
            <li>
                <a href="/#!/endpoints" ng-click="addHttpServerPlugin('static-filesystem')"><i class="fa fa-image"></i> Add static path</a>
            </li>
            <li class="{{ selected_endpoint == endpoint_index ? 'active' : ''}}"
                ng-repeat="(endpoint_index,endpoint) in service.endpoints">
                <a href="/#!/endpoints?target={{endpoint_index}}" title="Edit {{endpoint.endpoint}}">
                    <span class="badge method_header method_{{ endpoint.method.length ? endpoint.method : 'GET' }}">{{
                        endpoint.method.length ? endpoint.method : 'GET' }}</span><span class="method_path"
                        title="{{ endpoint.endpoint }}">{{ endpoint.endpoint }}</span>
                    </span>
                </a>
            </li>
        </ul>
    </li>
</ul>