<p>The KrakenD Emulator is an experimental feature that allows you to test KrakenD functionality right in your browser. Open the browser console to see more activity.</p>
<div class="row">
	<div class="form-group">
		<div class="col-md-2">
			<label>Method</label>
			<select
				ng-model="input_method"
				name="input_method"
				class="form-control"
				ng-init="GET"
			>
				<option value="GET">GET</option>
				<option value="POST">POST</option>
				<option value="PUT">PUT</option>
				<option value="DELETE">DELETE</option>
			</select>
		</div>
		<div class="col-md-10">
			<label>URL</label>
			<div class="input-group">
				<input
					type="text"
					placeholder="/endpoint"
					class="form-control input-md"
					required=""
					ng-model="input_URL"
				/>
				<div class="input-group-btn">
					<a
						class="btn btn-primary"
						ng-click="runEndpoint(input_method,input_URL,input_body,input_headers)"
					>
						<i class="fa fa-gear"></i> Run
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-12" ng-if="input_method != 'GET' && input_method != ''">
			<label>Body</label>
			<textarea
				rows="1"
				class="form-control"
				ng-model="input_body"
			></textarea>
			<span class="help-block"
				>Optional. Body to send to the backends</span
			>
		</div>
		<div class="col-md-12">
			<label>Headers</label>
			<textarea
				rows="1"
				class="form-control"
				ng-model="input_headers"
			></textarea>
			<span class="help-block"
				>Optional. Pass headers inside a JSON object with array maps,
				e.g: <code>{"My-header": ["Value 1", "Value 2"] }</code></span
			>
		</div>
	</div>
</div>
<div class="form-group" ng-if="output.header">
	<div class="col-md-12">
		<h4>
			Response
			<span class="label label-info" title="Status Code">{{ output.statusCode }}</span>
		</h4>

		<div class="response">
			<p>Headers:</p>
			<pre>{{ output.header }}</pre>
			<p>Body:</p>
			<div class="body"><pre>{{ output.body }}</pre></div>
		</div>
		<button class="btn btn-default" ng-click="deleteOutput()">
			<i class="fa fa-trash"></i> Clean
		</button>
	</div>
</div>


