<p>
	The KrakenD Emulator is an experimental feature that allows you to test
	KrakenD functionality right in your browser. Open the browser console to see
	more activity.
</p>
<div class="row">
	<div class="form-group">

		<div class="col-md-4">
			<label>Endpoint</label>
			<select
				class="form-control"
				ng-model="selected_endpoint"
				ng-change="selectEndpoint(selected_endpoint)"
			>
				<option
					ng-repeat="(endpoint_index,endpoint) in endpoints"
					value="{{endpoint_index}}"
					>{{ endpoint.method.length ? endpoint.method : "GET" }}
					{{ endpoint.endpoint }}</option
				>
			</select>
		</div>
		<div class="col-md-8">
			<label>URL</label>
			<div class="input-group">
				<div class="input-group-btn">
					<button
						type="button"
						class="btn method_{{ endpoint.method.length ? endpoint.method : 'GET' }}"
					>
						{{ endpoint.method.length ? endpoint.method : "GET" }}
					</button>
				</div>
				<input
					type="text"
					placeholder="/endpoint"
					class="form-control input-md"
					required=""
					ng-model="input_URL"
				/>
				<input type="hidden" ng-model="input_method" />
				<div class="input-group-btn">
						<a class="btn btn-primary"
							ng-click="runEndpoint(input_method,input_URL,input_body,input_headers)">
							<i class="fa fa-play"></i> Run
						</a>
					</div>
			</div>
			<span class="help-block"
				>Adjust the URL by replacing <code>{parameters}</code> or adding
				query strings here.</span
			>
		</div>
		<div class="col-md-12" ng-if="endpoint.method != 'GET' && endpoint.method != ''">
			<label>Body</label>
			<textarea
				rows="1"
				class="form-control"
				ng-model="input_body"
			></textarea>
			<span class="help-block"
				>Optional. Body to send to the backends</span
			>
		</div>
		<div class="col-md-12">
			<label>Headers</label>
			<textarea
				rows="1"
				class="form-control"
				ng-model="input_headers"
			></textarea>
			<span class="help-block"
				>Optional. Pass headers inside a JSON object with array maps,
				e.g: <code>{"My-header": ["Value 1", "Value 2"] }</code></span
			>
		</div>
	</div>
</div>
<div class="form-group" ng-if="output.header">
	<div class="col-md-12">
		<h4>
			Response
			<span
				class="label"
				ng-class="output.statusCode == 200 ? 'label-success' : 'label-danger'"
				title="Status Code"
				>{{ output.statusCode }}</span
			>
		</h4>

		<div class="response">
			<p>Headers:</p>
			<pre>{{ output.header }}</pre>
			<p>Body:</p>
			<div class="body">
				<pre>{{ output.body }}</pre>
			</div>
		</div>
		<button class="btn btn-default" ng-click="deleteOutput()">
			<i class="fa fa-trash"></i> Clean
		</button>
	</div>
</div>
