<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><input type="checkbox"
      ng-checked="isMiddlewareEnabled()"
      ng-click="toggleOpencensusMiddleware()"> Opencensus <small>(Zipkin, InfluxDB, Prometheus, Jaeger, Stackdriver and more)</small></h3>
    </div>
    <div class="box-body" ng-if="isMiddlewareEnabled()">
      <p>The Opencensus <em>middleware</em> provides several integrations to export tracing and metrics to different backends. Select all the metric integrations you want to enable and configure below:</p>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('logger')"
            ng-click="toggleOpencensusBackend('logger')">
            <strong>Logger</strong> - Will use your Logger settings to expose the metrics
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('zipkin')"
            ng-click="toggleOpencensusBackend('zipkin')">
            <strong>Zipkin</strong> - Distributed tracing system
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('jaeger')"
            ng-click="toggleOpencensusBackend('jaeger')">
            <strong>Jaeger</strong> - Distributed tracing system
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('influxdb')"
            ng-click="toggleOpencensusBackend('influxdb')">
            <strong>InfluxDB</strong> - Time series database
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('prometheus')"
            ng-click="toggleOpencensusBackend('prometheus')">
            <strong>Prometheus</strong> - Monitoring and alerting toolkit
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('xray')"
            ng-click="toggleOpencensusBackend('xray')">
            <strong>AWS X-Ray</strong> - Analyze and debug production, distributed applications
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('stackdriver')"
            ng-click="toggleOpencensusBackend('stackdriver')">
            <strong>Google Stackdriver</strong> - Logs, metrics, traces, and other signals
          </label>
        </div>
      </div>
      <h4>Global settings for all metrics</h4>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Sample rate</label>
          <div class="input-group">
            <input type="number"
            class="form-control"
            ng-model="data.extra_config[config_namespace].sample_rate"
            placeholder="100">
            <div class="input-group-addon">%</div>
          </div>
          <div class="help-block">
            Percentage of requests you want to sample (0-100).
          </div>
        </div>
        <div class="col-md-6">
          <label class="control-label">Reporting period</label>
          <div class="input-group">
            <input type="number"
            class="form-control"
            ng-model="data.extra_config[config_namespace].reporting_period"
            placeholder="1">
            <div class="input-group-addon">seconds</div>
          </div>
          <div class="help-block">
            Time between sent reports to the backend
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.logger">
    <div class="box-header with-border">
      <h3 class="box-title">Logger</h3>
    </div>
    <div class="box-body">
      <p>Sending metrics to the logger do not require any additional configuration. Metrics will be displayed as per the Logging configuration</p>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.influxdb">
    <div class="box-header with-border">
      <h3 class="box-title">InfluxDB configuration</h3>
    </div>
    <div class="box-body">
      <div class="form-group">
        <label class="control-label">Address</label>
        <input type="text"
        class="form-control"
        ng-model="data.extra_config[config_namespace].exporters.influxdb.address"
        placeholder="e.g: http://192.168.99.100:8086">
      </div>
      <div class="row">
        <div class="col-md-8">
          <label class="control-label">Database</label>
          <input type="text"
          class="form-control"
          ng-model="data.extra_config[config_namespace].exporters.influxdb.db"
          placeholder="e.g: krakend">
        </div>
        <div class="col-md-4" ng-class="isValidTimeUnit(data.extra_config[config_namespace].exporters.influxdb.timeout) ? '' : 'has-error'">
          <label class="control-label">Write Timeout</label>
          <input type="text"
          class="form-control"
          ng-model="data.extra_config[config_namespace].exporters.influxdb.timeout"
          ng-class="isValidTimeUnit(data.extra_config[config_namespace].exporters.influxdb.timeout) ? '' : 'has-error'">
          <div class="help-block">
            <p ng-hide="isValidTimeUnit(data.extra_config[config_namespace].exporters.influxdb.timeout)" ng-include src="'/src/app/forms/time_units.html'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.zipkin">
    <div class="box-header with-border">
      <h3 class="box-title">Zipkin configuration</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Collector URL</label>
          <input type="text"
          class="form-control"
          ng-model="data.extra_config[config_namespace].exporters.zipkin.collector_url"
          placeholder="e.g: http://192.168.99.100:9411/api/v2/spans">
        </div>
        <div class="col-md-6">
          <label class="control-label">Service Name</label>
          <input type="text"
          class="form-control"
          ng-model="data.extra_config[config_namespace].exporters.zipkin.service_name"
          placeholder="e.g: krakend">
        </div>
      </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.jaeger">
    <div class="box-header with-border">
      <h3 class="box-title">Jaeger configuration</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Endpoint</label>
          <input type="text"
          class="form-control"
          ng-model="data.extra_config[config_namespace].exporters.jaeger.endpoint"
          placeholder="e.g: http://192.168.99.100:9411/api/v2/spans">
        </div>
        <div class="col-md-6">
          <label class="control-label">Service Name</label>
          <input type="text"
          class="form-control"
          ng-model="data.extra_config[config_namespace].exporters.jaeger.service_name"
          placeholder="e.g: krakend">
        </div>
      </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.prometheus">
    <div class="box-header with-border">
      <h3 class="box-title">Prometheus configuration</h3>
    </div>
    <div class="box-body">
      <div class="form-group">
        <label class="control-label">Port</label>
        <input type="number"
        class="form-control"
        ng-model="data.extra_config[config_namespace].exporters.prometheus.port"
        placeholder="e.g:9091">
      </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.xray">
    <div class="box-header with-border">
      <h3 class="box-title">AWS X-Ray configuration</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label class="control-label">Region</label>
                <input type="text"
                class="form-control"
                ng-model="data.extra_config[config_namespace].exporters.xray.region"
                placeholder="e.g: eu-west-1">
              </div>
              <div class="col-md-6">
                <label class="control-label">Your service version</label>
                <input type="text"
                class="form-control"
                ng-model="data.extra_config[config_namespace].exporters.xray.version"
                placeholder="e.g: 1.2.3">
              </div>
            </div>
        </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-model="data.extra_config[config_namespace].exporters.xray.use_env"
            ng-click="toggleXRayAuth()">
            <strong>Use credentials from ENV</strong>
          </label>
        </div>
        </div>
        <div class="form-group">
          <div class="row" ng-if="!data.extra_config[config_namespace].exporters.xray.use_env">
            <div class="col-md-6">
              <label class="control-label">AWS Access Key</label>
              <input type="text"
              class="form-control"
              ng-model="data.extra_config[config_namespace].exporters.xray.access_key_id"
              placeholder="e.g: eu-west-1">
            </div>
            <div class="col-md-6">
              <label class="control-label">AWS Secret Key</label>
              <input type="text"
              class="form-control"
              ng-model="data.extra_config[config_namespace].exporters.xray.secret_access_key"
              placeholder="e.g: 1.2.3">
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.stackdriver">
    <div class="box-header with-border">
      <h3 class="box-title">Stackdriver configuration</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label class="control-label">Project ID</label>
                <input type="text"
                class="form-control"
                ng-model="data.extra_config[config_namespace].exporters.stackdriver.project_id"
                placeholder="Your GCE project ID">
              </div>
              <div class="col-md-6">
                <label class="control-label">Metrics prefix</label>
                <input type="text"
                class="form-control"
                ng-model="data.extra_config[config_namespace].exporters.stackdriver.metrics_prefix"
                placeholder="krakend">
              </div>
            </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">Labels</label>
              <input class="form-control"
              placeholder="label"
              type="text"
              ng-model="label_key">
              <span class="help-block">
                Enter here any label that will be assigned by default to the reported metric so you can filter later on Stack Driver.
              </span>
            </div>
            <div class="col-md-6">
                <label>&nbsp;</label>
                <div class="input-group">
                    <input class="form-control"
                    placeholder="Value"
                    type="text"
                    ng-model="label_value">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-info btn-flat" ng-click="addLabel(label_key,label_value)">
                              <i class="fa fa-plus"></i> Add
                            </button>
                        </span>
                  </div>
              <ul class="list-inline help-block">
                <li ng-repeat="(index,label) in data.extra_config[config_namespace].exporters.stackdriver.default_labels">
                    <a class="badge badge-remove"
                       ng-click="deleteLabel(index)"><i
                            class="fa fa-times"></i>
                        {{ index }}={{ label }}</a>
                </li>
            </ul>
            </div>
          </div>
        </div>
    </div>
  </div>