<div class="box box-info box-solid">
  <div class="box-header with-border">
    <h3 class="box-title"><input type="checkbox"
      ng-checked="isMiddlewareEnabled()"
      ng-click="toggleOpencensusMiddleware()"> Opencensus
    </h3>
    <div class="pull-right" ng-include src="'/src/app/layout/docs.html'" ng-repeat="doc in [{'ee': false, 'url':'/telemetry/opencensus/'}]"></div>
    </div>
    <div class="box-body">
      <p ng-if="!isMiddlewareEnabled()">The Opencensus <em>middleware</em> provides several integrations to export tracing and metrics to different third party systems.</p>
      <div ng-if="isMiddlewareEnabled()">
        <p class="box box-danger text-lg">The development of this component is frozen. Use OpenTelemetry for new projects instead.</p>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('logger')"
            ng-click="toggleOpencensusBackend('logger')">
            <strong>Logger</strong> - Will use your Logger settings to expose the metrics
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('zipkin')"
            ng-click="toggleOpencensusBackend('zipkin')">
            <strong>Zipkin</strong> - Distributed tracing system
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('jaeger')"
            ng-click="toggleOpencensusBackend('jaeger')">
            <strong>Jaeger</strong> - Distributed tracing system
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('influxdb')"
            ng-click="toggleOpencensusBackend('influxdb')">
            <strong>InfluxDB</strong> - Time series database
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('prometheus')"
            ng-click="toggleOpencensusBackend('prometheus')">
            <strong>Prometheus</strong> - Monitoring and alerting toolkit
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('xray')"
            ng-click="toggleOpencensusBackend('xray')">
            <strong>AWS X-Ray</strong> - Analyze and debug production, distributed applications
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('stackdriver')"
            ng-click="toggleOpencensusBackend('stackdriver')">
            <strong>Google Stackdriver</strong> - Logs, metrics, traces, and other signals
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('datadog')"
            ng-click="toggleOpencensusBackend('datadog')">
            <strong>Datadog</strong> - Stats and Tracing
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('newrelic')"
            ng-click="toggleOpencensusBackend('newrelic')">
            <strong>New Relic</strong> - Metrics and Traces
          </label>
          <a data-toggle="modal" data-target="#enterprise-needed-modal" class="badge">Enterprise</a>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-checked="backendIsEnabled('ocagent')"
            ng-click="toggleOpencensusBackend('ocagent')">
            <strong>OpenCensus Agent</strong> - Use ocagent protocol (Azure Monitor, Jaeger, Prometheus, OpenCensus)
          </label>
        </div>
      </div>
      <h4>Global settings for all metrics</h4>
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Sample rate</label>
          <div class="input-group">
            <input type="number"
            class="form-control"
            ng-model="data.extra_config[config_namespace].sample_rate"
            placeholder="100">
            <div class="input-group-addon">%</div>
          </div>
          <div class="help-block">
            Percentage of requests you want to sample (0-100).
          </div>
        </div>
        <div class="col-md-6">
          <label class="control-label">Reporting period</label>
          <div class="input-group">
            <input type="number"
            class="form-control"
            ng-model="data.extra_config[config_namespace].reporting_period"
            placeholder="1">
            <div class="input-group-addon">seconds</div>
          </div>
          <div class="help-block">
            Time between sent reports to the backend
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.logger">
    <div class="box-header with-border">
      <h3 class="box-title">Logger</h3>
    </div>
    <div class="box-body">
      <p>Sending metrics to the logger do not require any additional configuration. Metrics will be displayed as per the Logging configuration</p>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.influxdb">
    <div class="box-header with-border">
      <h3 class="box-title">InfluxDB configuration</h3>
    </div>
    <div class="box-body">
      <div class="form-group">
        <label class="control-label">Address</label>
        <input type="text"
        class="form-control"
        ng-model="data.extra_config[config_namespace].exporters.influxdb.address"
        placeholder="e.g: http://192.168.99.100:8086">
      </div>
      <div class="row">
        <div class="col-md-8">
          <label class="control-label">Database</label>
          <input type="text"
          class="form-control"
          ng-model="data.extra_config[config_namespace].exporters.influxdb.db"
          placeholder="e.g: krakend">
        </div>
        <div class="col-md-4" ng-class="isValidTimeUnit(data.extra_config[config_namespace].exporters.influxdb.timeout) ? '' : 'has-error'">
          <label class="control-label">Write Timeout</label>
          <input type="text"
          class="form-control"
          ng-model="data.extra_config[config_namespace].exporters.influxdb.timeout"
          ng-class="isValidTimeUnit(data.extra_config[config_namespace].exporters.influxdb.timeout) ? '' : 'has-error'">
          <div class="help-block">
            <p ng-hide="isValidTimeUnit(data.extra_config[config_namespace].exporters.influxdb.timeout)" ng-include src="'/src/app/forms/time_units.html'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.zipkin">
    <div class="box-header with-border">
      <h3 class="box-title">Zipkin configuration</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Collector URL</label>
          <input type="text"
          class="form-control"
          ng-model="data.extra_config[config_namespace].exporters.zipkin.collector_url"
          placeholder="e.g: http://192.168.99.100:9411/api/v2/spans">
        </div>
        <div class="col-md-6">
          <label class="control-label">Service Name</label>
          <input type="text"
          class="form-control"
          ng-model="data.extra_config[config_namespace].exporters.zipkin.service_name"
          placeholder="e.g: krakend">
        </div>
      </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.jaeger">
    <div class="box-header with-border">
      <h3 class="box-title">Jaeger configuration</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <label class="control-label">Endpoint</label>
          <input type="text"
          class="form-control"
          ng-model="data.extra_config[config_namespace].exporters.jaeger.endpoint"
          placeholder="e.g: http://192.168.99.100:9411/api/v2/spans">
        </div>
        <div class="col-md-6">
          <label class="control-label">Service Name</label>
          <input type="text"
          class="form-control"
          ng-model="data.extra_config[config_namespace].exporters.jaeger.service_name"
          placeholder="e.g: krakend">
        </div>
      </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.prometheus">
    <div class="box-header with-border">
      <h3 class="box-title">Prometheus configuration</h3>
    </div>
    <div class="box-body">
      <div class="form-group">
        <label class="control-label">Port</label>
        <input type="number"
        class="form-control"
        ng-model="data.extra_config[config_namespace].exporters.prometheus.port"
        placeholder="e.g:9091">
      </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.xray">
    <div class="box-header with-border">
      <h3 class="box-title">AWS X-Ray configuration</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label class="control-label">Region</label>
                <input type="text"
                class="form-control"
                ng-model="data.extra_config[config_namespace].exporters.xray.region"
                placeholder="e.g: eu-west-1">
              </div>
              <div class="col-md-6">
                <label class="control-label">Your service version</label>
                <input type="text"
                class="form-control"
                ng-model="data.extra_config[config_namespace].exporters.xray.version"
                placeholder="e.g: 1.2.3">
              </div>
            </div>
        </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox"
            ng-model="data.extra_config[config_namespace].exporters.xray.use_env"
            ng-click="toggleXRayAuth()">
            <strong>Use credentials from ENV</strong>
          </label>
        </div>
        </div>
        <div class="form-group">
          <div class="row" ng-if="!data.extra_config[config_namespace].exporters.xray.use_env">
            <div class="col-md-6">
              <label class="control-label">AWS Access Key</label>
              <input type="text"
              class="form-control"
              ng-model="data.extra_config[config_namespace].exporters.xray.access_key_id"
              placeholder="e.g: eu-west-1">
            </div>
            <div class="col-md-6">
              <label class="control-label">AWS Secret Key</label>
              <input type="text"
              class="form-control"
              ng-model="data.extra_config[config_namespace].exporters.xray.secret_access_key"
              placeholder="e.g: 1.2.3">
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.stackdriver">
    <div class="box-header with-border">
      <h3 class="box-title">Stackdriver configuration</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label class="control-label">Project ID</label>
                <input type="text"
                class="form-control"
                ng-model="data.extra_config[config_namespace].exporters.stackdriver.project_id"
                placeholder="Your GCE project ID">
              </div>
              <div class="col-md-6">
                <label class="control-label">Metrics prefix</label>
                <input type="text"
                class="form-control"
                ng-model="data.extra_config[config_namespace].exporters.stackdriver.metrics_prefix"
                placeholder="krakend">
              </div>
            </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">Labels</label>
              <input class="form-control"
              placeholder="label-name"
              type="text"
              ng-model="label_key">
              <span class="help-block">
                Enter here any label that will be assigned by default to the reported metric so you can filter later on Stack Driver.
              </span>
            </div>
            <div class="col-md-6">
                <label>&nbsp;</label>
                <div class="input-group">
                    <input class="form-control"
                    placeholder="Value"
                    type="text"
                    ng-model="label_value">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-info btn-flat" ng-click="addStackDriverLabel(label_key,label_value)">
                              <i class="fa fa-plus"></i> Add
                            </button>
                        </span>
                  </div>
              <ul class="list-inline help-block">
                <li ng-repeat="(index,label) in data.extra_config[config_namespace].exporters.stackdriver.default_labels">
                    <a class="badge code badge-remove"
                       ng-click="deleteStackDriverLabel(index)"><i
                            class="fa fa-times"></i>
                        {{ index }}={{ label }}</a>
                </li>
            </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.datadog">
    <div class="box-header with-border">
      <h3 class="box-title">Datadog configuration</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label class="control-label">Namespace</label>
                <input type="text"
                class="form-control"
                ng-model="data.extra_config[config_namespace].exporters.datadog.namespace"
                placeholder="krakendNS">
                <span class="help-block">
                  Namespace specifies the namespaces to which metric keys are appended
                </span>
              </div>
              <div class="col-md-6">
                <label class="control-label">Service</label>
                <input type="text"
                class="form-control"
                ng-model="data.extra_config[config_namespace].exporters.datadog.service"
                placeholder="krakendSRVC">
                <span class="help-block">
                  Service specifies the service name used for tracing.
                </span>
              </div>
            </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">Trace address</label>
              <input class="form-control"
              placeholder="localhost:8126"
              type="text"
              ng-model="data.extra_config[config_namespace].exporters.datadog.trace_address">
              <span class="help-block">
                The host[:port] address of the Datadog Trace Agent. It defaults to localhost:8126
              </span>
            </div>
            <div class="col-md-6">
              <label class="control-label">Stats address</label>
              <input class="form-control"
              placeholder="localhost:8125"
              type="text"
              ng-model="data.extra_config[config_namespace].exporters.datadog.stats_address">
              <span class="help-block">
                the host[:port] address for DogStatsD. It defaults to localhost:8125
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <label>Tags</label>
                <span class="help-block">
                  Set of global tags to attach to each metric
                </span>
                <div class="input-group">
                    <input class="form-control"
                    placeholder="tag"
                    type="text"
                    ng-model="datadog_tag">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-info btn-flat" ng-click="addDatadogTag(datadog_tag, false)">
                              <i class="fa fa-plus"></i> Add Tag
                            </button>
                        </span>
                  </div>
              <ul class="list-inline help-block">
                <li ng-repeat="(index,tag) in data.extra_config[config_namespace].exporters.datadog.tags">
                    <a class="badge code badge-remove"
                       ng-click="deleteDatadogTag(index, false)"><i
                            class="fa fa-times"></i>
                        {{ tag }}</a>
                </li>
            </ul>
            </div>
            <div class="col-md-6">
              <label>Global tags</label>
              <span class="help-block">
                Set of tags applied to all exported spans
              </span>
              <div class="input-group">
                  <input class="form-control"
                  placeholder="tag"
                  type="text"
                  ng-model="datadog_global_tag">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-info btn-flat" ng-click="addDatadogTag(datadog_global_tag, true)">
                            <i class="fa fa-plus"></i> Add Global Tag
                          </button>
                      </span>
                </div>
            <ul class="list-inline help-block">
              <li ng-repeat="(index,tag) in data.extra_config[config_namespace].exporters.datadog.global_tags">
                  <a class="badge code badge-remove"
                     ng-click="deleteDatadogTag(index, true)"><i
                          class="fa fa-times"></i>
                      {{ tag }}</a>
              </li>
          </ul>
          </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox"
                  ng-model="data.extra_config[config_namespace].exporters.datadog.disable_count_per_buckets">
                  Disable count per buckets
                </label>
                <span class="help-block">
                  Specifies whether to emit count_per_bucket metrics
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.newrelic">
    <div class="box-header with-border">
      <h3 class="box-title">New Relic configuration</h3>
      <div class="pull-right">
        <a data-toggle="modal" data-target="#enterprise-needed-modal" class="pull-right-container badge">Enterprise</a>
      </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label class="control-label">Service Name</label>
                <input type="text"
                class="form-control"
                ng-model="data.extra_config[config_namespace].exporters.newrelic.service_name"
                placeholder="krakend-api-gateway">
                <span class="help-block">The service name as shown in the New Relic dashboard</span>
              </div>
              <div class="col-md-6">
                <label class="control-label"></label>
                <input type="text"
                class="form-control"
                ng-model="data.extra_config[config_namespace].exporters.newrelic.api_key"
                placeholder="e.g: NRAK-CIH1YVYWKA9ZP5E48WP5XYJH1G9">
                <span class="help-block">The API key provided by New Relic to push data into your account</span>
              </div>
            </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">Spans URL</label>
              <select
              class="form-control"
              ng-model="data.extra_config[config_namespace].exporters.newrelic.spans_url">
                <option value="https://trace-api.newrelic.com/trace/v1">US (trace-api.newrelic.com)</option>
                <option value="https://trace-api.eu.newrelic.com/trace/v1">EU (trace-api.eu.newrelic.com)</option>
              </select>
              <span class="help-block">New Relic might use different endpoints to report traces from its customers depending on the location of their accounts</span>
            </div>
            <div class="col-md-6">
              <label class="control-label">Metrics URL</label>
              <select
              class="form-control"
              ng-model="data.extra_config[config_namespace].exporters.newrelic.metrics_url">
                <option value="https://metric-api.newrelic.com/metric/v1">US (metric-api.newrelic.com/)</option>
                <option value="https://metric-api.eu.newrelic.com/metric/v1">EU (metric-api.eu.newrelic.com/)</option>
              </select>
              <span class="help-block">New Relic might use different endpoints to report metrics from its customers depending on the location of their accounts</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox"
              ng-model="data.extra_config[config_namespace].exporters.newrelic.debug">
              <strong>Debug</strong>
            </label>
            <span class="help-block">Set to true when setting New Relic for the first time, and you want to see the logs of the exporter activity. Remove in production.</span>
          </div>
          </div>
    </div>
  </div>
  <div class="box box-secondary" ng-if="data.extra_config[config_namespace].exporters.ocagent">
    <div class="box-header with-border">
      <h3 class="box-title">Ocagent configuration</h3>
    </div>
    <div class="box-body">
      <div class="form-group">
        <label class="control-label">Collector's address</label>
        <input type="text"
          class="form-control"
          ng-model="data.extra_config[config_namespace].exporters.ocagent.address"
          placeholder="localhost:55678">
      </div>
      <div class="form-group">
        <div class="row">
            <div class="col-md-6">
            <label class="control-label">Service Name</label>
              <input type="text"
              class="form-control"
              ng-model="data.extra_config[config_namespace].exporters.ocagent.service_name"
              placeholder="krakend/mygateway">
            </div>
              <div class="col-md-6" ng-class="isValidTimeUnit(data.extra_config[config_namespace].exporters.ocagent.reconnection) ? '' : 'has-error'">
                <label class="control-label">Reconnection time</label>
                <input type="text"
                class="form-control"
                ng-model="data.extra_config[config_namespace].exporters.ocagent.reconnection"
                ng-class="isValidTimeUnit(data.extra_config[config_namespace].exporters.ocagent.reconnection) ? '' : 'has-error'">
                <div class="help-block">
                  <p ng-hide="isValidTimeUnit(data.extra_config[config_namespace].exporters.ocagent.reconnection)" ng-include src="'/src/app/forms/time_units.html'"></p>
                </div>
            </div>

      </div>
      <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox"
                  ng-model="data.extra_config[config_namespace].exporters.ocagent.insecure">
                  <strong>Insecure (don't use SSL)</strong>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox"
                  ng-model="data.extra_config[config_namespace].exporters.ocagent.enable_compression">
                  <strong>Enable compression</strong>
                </label>
              </div>
            </div>
          </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label class="control-label">Headers</label>
            <input class="form-control"
            placeholder="Header"
            type="text"
            ng-model="header_key">
            <span class="help-block">
              Sent headers with its values.
            </span>
          </div>
          <div class="col-md-6">
              <label>&nbsp;</label>
              <div class="input-group">
                  <input class="form-control"
                  placeholder="Value"
                  type="text"
                  ng-model="header_value">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-info btn-flat" ng-click="addOcagentHeader(header_key,header_value)">
                            <i class="fa fa-plus"></i> Add
                          </button>
                      </span>
                </div>
            <ul class="list-inline help-block">
              <li ng-repeat="(index,header) in data.extra_config[config_namespace].exporters.ocagent.headers">
                  <a class="badge code badge-remove"
                      ng-click="deleteOcagentHeader(index)"><i
                          class="fa fa-times"></i>
                      {{ index }}={{ header }}</a>
              </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div></div>