<div class="box box-info box-solid">
	<div class="box-header with-border">
		<h3 class="box-title">
			<input type="checkbox" ng-checked="isMiddlewareEnabled()" ng-click="toggleMiddleware()"> AMQP producer
		</h3>
		<div class="pull-right" ng-include src="'/src/app/layout/docs.html'" ng-repeat="doc in [{'ee': false, 'url':'/backends/amqp-producer/'}]"></div>
	</div>
	<div class="box-body">
		<p ng-if="!isMiddlewareEnabled()">Enables consumption of messages using the Advanced Message Queuing Protocol in
			servers such as RabbitMQ</p>
		<div ng-if="isMiddlewareEnabled()">
			<div class="row">
				<div class="col-md-6">
					<label>Queue name</label>
					<input type="text" ng-model="data.extra_config[config_namespace]['name']" class="form-control" />
					<span class="help-block">The name of the queue you want to connect to</span>
				</div>
				<div class="col-md-6">
					<label>Exchange</label>
					<input type="text" ng-model="data.extra_config[config_namespace]['exchange']"
						class="form-control" />
					<span class="help-block">The entity name where messages are sent for routing</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
                    <label>Backoff Strategy</label>
                    <select class="form-control" ng-model="data.extra_config[config_namespace].backoff_strategy"
                        id="data.extra_config[config_namespace].backoff_strategy" name="data.extra_config[config_namespace].backoff_strategy">
                        <option ng-repeat="(strategy,desc) in constants.backoff_strategy" value="{{ strategy }}">{{ desc
                            }}</option>
                    </select>
                    <span class="help-block">When the connection to your event source gets interrupted for whatever reason, KrakenD keeps trying to reconnect after a delay</span>
                </div>
				<div class="col-md-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="data.extra_config[config_namespace].durable">
							<strong>Durable</strong>
						</label>
						<span class="help-block">Durable exchanges survive broker restart whereas transient exchanges do
							not</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>