<div class="box box-default box-solid">
	<div class="box-header with-border">
		<h3 class="box-title">
			<input type="checkbox" ng-checked="isMiddlewareEnabled()" ng-click="toggleMiddleware()"> AMQP producer
		</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse">
				<i class="fa fa-minus"></i>
			</button>
		</div>
	</div>
	<div class="box-body">
		<p ng-if="!isMiddlewareEnabled()">Enables consumption of messages using the Advanced Message Queuing Protocol in
			servers such as RabbitMQ</p>
		<div ng-if="isMiddlewareEnabled()">
			<div class="row">
				<div class="col-md-6">
					<label>Queue name</label>
					<input type="text" ng-model="data.extra_config[config_namespace]['name']" class="form-control" />
					<span class="help-block">The name of the queue you want to connect to</span>
				</div>
				<div class="col-md-6">
					<label>Exchange</label>
					<input type="text" ng-model="data.extra_config[config_namespace]['exchange']"
						class="form-control" />
					<span class="help-block">The entity name where messages are sent for routing</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="data.extra_config[config_namespace].durable">
							<strong>Durable</strong>
						</label>
						<span class="help-block">Durable exchanges survive broker restart whereas transient exchanges do
							not</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="data.extra_config[config_namespace].delete">
							<strong>Auto-delete</strong>
						</label>
						<span class="help-block">The exchange is deleted when last queue is unbound from it</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="data.extra_config[config_namespace].no_wait">
							<strong>No-wait</strong>
						</label>
						<span class="help-block">The AMQP broker won't wait for the acknowledgement.</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="data.extra_config[config_namespace].exclusive">
							<strong>Exclusive</strong>
						</label>
						<span class="help-block">Only this consumer can access the queue</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="data.extra_config[config_namespace].mandatory">
							<strong>Mandatory</strong>
						</label>
						<span class="help-block">Return an unroutable message if the message cannot be routed to a
							queue</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="data.extra_config[config_namespace].immediate">
							<strong>Immediate</strong>
						</label>
						<span class="help-block">Return an undeliverable message if the message cannot be routed
							immediately</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>