<div class="box box-info box-solid">
  <div class="box-header with-border">
    <h3 class="box-title"><input type="checkbox" ng-checked="isMiddlewareEnabled()" ng-click="toggleMiddleware()"> Cache
    </h3>
  </div>
  <div class="box-body">
    <p ng-hide="isMiddlewareEnabled()">Enable in-memory caching for the desired backend responses</p>
    <div ng-if="isMiddlewareEnabled()">
      <p><span class="badge label-warning"><i class="fa fa-warning"></i> Warning</span> Now caching is enabled, load will be increased and memory usage increased.</p>
      <div class="row">
        <div class="col-md-12">
          <label class="control-label">
            <input type="checkbox" ng-model="data.extra_config[config_namespace].shared">
            Shared cache
          </label>
          <span class="help-block">Allow cached entries to be reused in different backend definitions when
            possible.</span>
        </div>
      </div>
    </div>
  </div>
</div>