<div class="box box-info box-solid">
  <div class="box-header with-border">
    <h3 class="box-title"><input type="checkbox" ng-checked="isMiddlewareEnabled()" ng-click="toggleMiddleware()">
      Instana <small>(Integration with Instana APM)</small></h3>
    <div class="pull-right">
      <a data-toggle="modal" data-target="#enterprise-needed-modal" class="pull-right-container badge badge-inverse">Enterprise</a>
    </div>
  </div>
  <div class="box-body">
    <p ng-if="!isMiddlewareEnabled()">The Instana integration <em>middleware</em> allows you to export tracing and
      metrics to your Instana account:</p>
    <div ng-if="isMiddlewareEnabled()">
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label class="control-label">Agent Host</label>
            <input type="text" class="form-control" ng-model="data.extra_config[config_namespace].AgentHost"
              placeholder="localhost">
            <span class="help-block">
              The host where your agent is installed, usually <code>localhost</code>
            </span>
          </div>
          <div class="col-md-4">
            <label class="control-label">Agent Port</label>
            <input type="number" class="form-control" ng-model="data.extra_config[config_namespace].AgentPort"
              placeholder="46999">
            <span class="help-block">
              The port where your agent is listening, usually <code>46999</code>
            </span>
          </div>
          <div class="col-md-4">
            <label class="control-label">Service</label>
            <input type="text" class="form-control" ng-model="data.extra_config[config_namespace].Service"
              placeholder="krakend">
            <span class="help-block">
              The global service name that will be used to identify the program in the Instana backend
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>