<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">
            <input type="checkbox" ng-checked="isMiddlewareEnabled()" ng-click="toggleMiddleware()"> Enable JWT signing
        </h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <p ng-if="!isMiddlewareEnabled()">Enable to sign JWT tokens</p>
        <div ng-if="isMiddlewareEnabled()">
            <div class="form-group">
                <div class="col-md-6">
                    <label>JWK URI</label>
                    <input type="text" ng-model="data.extra_config[config_namespace]['jwk_url']" class="form-control" />
                    <span class="help-block">The URL to your JWK endpoint with the set of private keys used to sign the token</span>
                </div>
                <div class="col-md-6">
                    <label class="control-label">Algorithm</label>
                    <select class="form-control" ng-model="data.extra_config[config_namespace].alg" id="data.extra_config[config_namespace].alg"
                        name="data.extra_config[config_namespace].alg">
                        <option ng-repeat="(alg,desc) in constants.jose_algorithms" value="{{ alg }}">{{ desc }}</option>
                    </select>
                    <span class="help-block">Digital signatures and MACs algorithm</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label">Keys to sign</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="" type="text" required="" ng-model="input_key">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success" ng-click="addTermToList(input_key,'keys_to_sign')">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <span class="help-block">List of specific keys needing signing</span>
                    <ul class="list-unstyled">
                        <li ng-repeat="(index,key) in data.extra_config[config_namespace]['keys_to_sign']">
                            <a class="badge badge-remove" ng-click="deleteIndexFromList(index,'keys_to_sign')"><i class="fa fa-times"></i>
                                {{ key }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <label>Key ID</label>
                    <input type="text" ng-model="data.extra_config[config_namespace].kid" class="form-control" />
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">
                        <input type="checkbox" ng-model="custom_cipher"> Custom Cipher Suites
                    </label>
                    <select ng-if="custom_cipher || data.extra_config[config_namespace].cipher_suites.length > 0" class="form-control" ng-model="data.extra_config[config_namespace].cipher_suites"
                        multiple="multiple">
                        <option ng-repeat="(val,suite) in constants.jose_cipher_suites" value="{{ val }}">{{ suite }}</option>
                    </select>
                    <span class="help-block">Overrides the default cipher suites. Unless you have your own legacy JWK you
                        don't need to choose anything here</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Fingerprints</label>
                    <textarea class="form-control" style="margin-bottom:10px" placeholder="e.g: S3Jha2VuRCBpcyB0aGUgYmVzdCBnYXRld2F5LCBhbmQgeW91IGtub3cgaXQ==" ng-model="fingerprint"></textarea>
                    <button type="button" class="btn btn-success pull-right" ng-click="addTermToList(fingerprint,'jwk_fingerprints')">
                        <i class="fa fa-plus"></i> Add fingerprint
                    </button>
                    <span class="help-block">All fingerprints <strong>must be in base64</strong></span>
                </div>
                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li ng-repeat="(index,fingerprint) in data.extra_config[config_namespace].jwk_fingerprints">
                            <a class="badge badge-remove" ng-click="deleteIndexFromList(index,'jwk_fingerprints')">
                                <i class="fa fa-times"></i>
                                {{ fingerprint }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="data.extra_config[config_namespace].full">
                            <strong>Full serialization</strong>
                        </label>
                        <span class="help-block">Use JSON format instead of the compact form JWT is giving</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="data.extra_config[config_namespace].disable_jwk_security">
                            <strong>Disable JWK security</strong>
                        </label>
                        <span class="help-block">When you are using an insecure connection (plain http)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>