<div class="box box-info box-solid">
	<div class="box-header with-border">
		<h3 class="box-title"><input type="checkbox" ng-checked="isMiddlewareEnabled()" ng-click="toggleMiddleware()">
			Auth: Client Credentials</h3>
			<div class="pull-right" ng-include src="'/src/app/layout/docs.html'" ng-repeat="doc in [{'ee': false, 'url':'/authorization/client-credentials/'}]"></div>
	</div>
	<div class="box-body">
		<p ng-hide="isMiddlewareEnabled()">Enable a 2-legged OAuth2 flow, making the gateway request a token to an
			authorization server before reaching the backend's protected resources. The token refreshes when needed.</p>
		<div ng-if="isMiddlewareEnabled()">
			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="data.extra_config[config_namespace].client_id">Client ID</label>
					<input class="form-control" ng-model="data.extra_config[config_namespace].client_id"
						id="data.extra_config[config_namespace].client_id"
						name="data.extra_config[config_namespace].client_id" type="text">
					<span class="help-block">The Client ID as it will provided to the Auth server</span>
				</div>

				<div class="col-md-6">
					<label class="control-label" for="data.extra_config[config_namespace].client_secret">Client
						Secret</label>
					<input class="form-control" ng-model="data.extra_config[config_namespace].client_secret"
						id="data.extra_config[config_namespace].client_secret"
						name="data.extra_config[config_namespace].client_secret" type="text">
					<span class="help-block">The Client secret as it will provided to the Auth server</span>
				</div>
			</div>
			<div class="form-group ">
				<div class="col-md-6">
					<label class="control-label" for="data.extra_config[config_namespace].token_url">Token URL</label>
					<input class="form-control" ng-model="data.extra_config[config_namespace].token_url"
						id="data.extra_config[config_namespace].token_url"
						name="data.extra_config[config_namespace].token_url" type="text">
					<span class="help-block">The URL where the negotiation of the token will happen</span>
				</div>

				<div class="col-md-6">
					<label class="control-label" for="data.extra_config[config_namespace].scopes">Scopes</label>
					<input class="form-control" ng-model="data.extra_config[config_namespace].scopes"
						id="data.extra_config[config_namespace].scopes"
						name="data.extra_config[config_namespace].scopes" type="text">
					<span class="help-block">Comma separated list of scopes needed</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<label>Additional endpoint parameters</label>
				</div>
				<div class="col-md-8">

					<div class="input-group row">
						<div class="col-md-4">
							<input class="form-control" placeholder="name" type="text"
								ng-model="endpoint_parameters_key">
						</div>
						<div class="col-md-4">
							<input class="form-control" placeholder="value" type="text"
								ng-model="endpoint_parameters_value">
						</div>
						<div class="col-md-4">
							<button type="button" class="btn btn-success"
								ng-click="addKeyPair(endpoint_parameters_key,endpoint_parameters_value,'endpoint_params')">
								<i class="fa fa-plus"></i> Add parameter
							</button>
						</div>
					</div>
					<span class="help-block">
						Enter here any additional parameters that you want to <strong>include in the payload</strong>
						when requesting the token. For instance, it is frequent to add the <code>audience</code>
						request parameter that denotes the target API for which the token should be issued.
					</span>

				</div>
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li ng-repeat="(index,param) in data.extra_config[config_namespace].endpoint_params">
							<a class="badge code badge-remove" ng-click="deleteKey(index,'endpoint_params')"
								title="Click to delete parameter"><i class="fa fa-times"></i> {{ index }}={{ param }}
							</a>
						</li>
						<li ng-if="!data.extra_config[config_namespace].endpoint_params">
							No additional parameters are active yet.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>