<div class="form-group">
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-checked="isMiddlewareEnabled()" ng-click="toggleMiddleware()">
			<strong>Enable rate limiting for <code>{{ data.endpoint }}</code></strong>
		</label>
		<span class="help-block">Limit the number of requests this endpoint can receive. Read more on <a href="/docs/throttling/rate-limit">rate limiting</a></span>
	</div>
</div>
<div ng-if="isMiddlewareEnabled()">
	<div class="form-group" ng-class="validator.isInteger(data.extra_config[config_namespace].maxRate) ? '' : 'has-error'">
		<label class="control-label">Rate limit</label>
		<div class="input-group">
			<input class="form-control"
			ng-model="data.extra_config[config_namespace].maxRate"
			id="data.extra_config[config_namespace].maxRate"
			name="data.extra_config[config_namespace].maxRate"
			type="number">
			<div class="input-group-addon">reqs/sec</div>
		</div>
		<span class="help-block">Maximum requests per second you want to let this endpoint handle. Leave <code>0</code> for no default limit.
		</span>
	</div>
	<div class="form-group" ng-class="validator.isInteger(data.extra_config[config_namespace].clientMaxRate) ? '' : 'has-error'">
		<label class="control-label">Default user quota</label>
		<div class="input-group">
			<input class="form-control"
			ng-model="data.extra_config[config_namespace].clientMaxRate"
			id="data.extra_config[config_namespace].clientMaxRate"
			name="data.extra_config[config_namespace].clientMaxRate"
			type="number">
			<div class="input-group-addon">reqs/sec</div>
		</div>
		<span class="help-block">Maximum requests per second you want to allow to each different API user. This
			value will be used as default for all the endpoints unless overridden in each of them. Use <code>0</code>
			for no limitation.
		</span>
		<div ng-show="0 != data.extra_config[config_namespace].clientMaxRate">
			<p><strong>A unique user is identified by...</strong></p>
			<div class="input-group" class="form-control">
				<input type="radio" name="strategy_ip" value="ip"
				ng-checked="data.extra_config[config_namespace].strategy=='ip'"
				ng-click="data.extra_config[config_namespace].key=''"
				ng-model="data.extra_config[config_namespace].strategy">
				Its originating IP
			</div>
			<div class="input-group" class="form-control">
				<input type="radio" name="strategy_header" value="header"
				ng-checked="data.extra_config[config_namespace].key!=''"
				ng-model="data.extra_config[config_namespace].strategy">
				A custom header:
				<input type="text" ng-model="data.extra_config[config_namespace].key"
				placeholder="X-TOKEN">
			</div>
		</div>
	</div>
</div>