<div class="box box-info box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">
            <input type="checkbox" ng-checked="isMiddlewareEnabled()" ng-click="toggleMiddleware()">
            Proxy Rate limit
        </h3>
        <div class="pull-right" ng-include src="'/src/app/layout/docs.html'"
            ng-repeat="doc in [{'ee': false, 'url':'/backends/rate-limit/'}]"></div>
    </div>
    <div class="box-body">
        <p ng-if="!isMiddlewareEnabled()">Limits the number of requests KrakenD can do to your backend service {{data.url_pattern}}</p>
        <div ng-if="isMiddlewareEnabled()">
            <div class="form-group row">
                <div class="col-md-12"
                    ng-class="validator.isInteger(data.extra_config[config_namespace].max_rate) ? '' : 'has-error'">
                    <label>Max rate limit</label>
                    <div class="input-group">
                        <input class="form-control" type="number"
                            ng-model="data.extra_config[config_namespace].max_rate"
                            ng-change="data.extra_config[config_namespace].capacity=data.extra_config[config_namespace].max_rate">
                        <div class="input-group-addon">reqs/sec</div>
                    </div>
                    <div class="help-block">
                        <p ng-hide="validator.isInteger(data.extra_config[config_namespace].max_rate)"
                            class="badge label-danger"><i class="fa fa-warning"></i>
                            Write a number</p>
                        <p>Maximum requests per second you want to accept in this
                            backend.</p>
                    </div>
                </div>
            </div>

            <div class="form-group"
                ng-class="validator.isInteger(data.extra_config[config_namespace].capacity) ? '' : 'has-error'">
                <div class="col-md-12">
                    <label class="control-label">Capacity (Burst size)</label>
                    <div class="input-group">
                        <input class="form-control" ng-model="data.extra_config[config_namespace].capacity"
                            id="data.extra_config[config_namespace].capacity"
                            name="data.extra_config[config_namespace].capacity" type="number">
                        <div class="input-group-addon">reqs/sec</div>
                    </div>
                    <div class="help-block">
                        <p ng-hide="validator.isInteger(data.extra_config[config_namespace].capacity)"
                            class="badge label-danger"><i class="fa fa-warning"></i>
                            Write a number</p>
                        <p>Recommended value <code>capacity=max_rate</code>. A <a
                                href="https://www.krakend.io/docs/throttling/token-bucket/">token
                                bucket</a> algorithm is used with a bucket capacity ==
                            tokens added per second. KrakenD is able to allow bursting
                            on the request rates.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>