/* Override main theme */
pre {
    border:0;
    border-radius: 0;
    border-left: 4px solid #2094ce;
}
code {
    color: #2752a3;
}

.badge {
    background-color: #0071CE;
}

.badge.badge-inverse {
    background-color: #FFF;
    color: #0071CE;
}

a.badge.badge-inverse:hover {
    color: #FFF;
    background-color: #0071CE;
}

.wrapper {
    background-color: white !important;
}
.skin-black-light .main-header .navbar .nav>li>a:hover, .skin-black-light .main-header .navbar .nav>li>a:active, .skin-black-light .main-header .navbar .nav>li>a:focus, .skin-black-light .main-header .navbar .nav .open>a, .skin-black-light .main-header .navbar .nav .open>a:hover, .skin-black-light .main-header .navbar .nav .open>a:focus, .skin-black-light .main-header .navbar .nav>.active>a {
    background: none;
    color: #fff;
    text-decoration: underline;
}
.skin-black-light .main-header {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.skin-black-light .main-header .navbar {
    background: rgba(255, 255, 255, 0);
}

.skin-black-light .main-header > .logo {
    border: 0;
    background-color: transparent;
}


.skin-black-light .sidebar-menu>li:hover>a, .skin-black-light .sidebar-menu>li.active>a {
    color: #0071CE;
    background: #ececec;
}

.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-black-light .main-header .navbar .navbar-right > li > a,
.skin-black-light .main-header .navbar .navbar-nav>li>a{
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.skin-black-light .navbar-collapse.pull-left {
    background: #0071CE;
}
.skin-black-light .main-header .navbar-toggle {
    color: white;
}

.skin-black-light .wrapper, .skin-black-light .main-sidebar, .skin-black-light .left-side {
    background-color: #fff;
}

.skin-black-light .sidebar-menu>li>.treeview-menu {
    background: #f0f7fb;
}

.skin-black-light .content-wrapper, .skin-black-light .main-footer {
    border-left: none;
}

.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #f7f7f7;
    z-index: 800;
}

.content-header>h1 {
    font-size: 30px;
    font-weight: 300;
}



.github-container {
    margin-top: 15px;
}

/* Remove black background from logo */
.skin-black-light .main-header > .logo:hover {
    background: rgba(255, 255, 255, 0);
}

.main-footer {
    margin: 0;
}

.main-header {
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: #0071CE;
    z-index: 9999;
}


.main-header .navbar > .sidebar-toggle {
    color: #333;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

.btn-primary, .btn-success {
    background-color: #005ff2;
    border-color: #2977f7;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success.hover,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover
.btn-primary:hover {
    background-color: #0e57c7;
    border-color: #006cff;
}

.btn-success {
    color: #fff;
    background-color: #005ff2;
    border-color: #2977f7;
  }
  .btn-success:focus,
  .btn-success.focus {
    color: #fff;
    background-color: #0e57c7;
    border-color: #006cff;
  }
  .btn-success:hover {
    color: #fff;
    background-color: #0e57c7;
  }
  .btn-success:active,
  .btn-success.active,
  .open > .dropdown-toggle.btn-success {
    color: #fff;
        border-color: #006cff;
  }
  .btn-success:active:hover,
  .btn-success.active:hover,
  .open > .dropdown-toggle.btn-success:hover,
  .btn-success:active:focus,
  .btn-success.active:focus,
  .open > .dropdown-toggle.btn-success:focus,
  .btn-success:active.focus,
  .btn-success.active.focus,
  .open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #005ff2;
    border-color: #2977f7;
  }





.btn-circle {
    border-radius: 10em!important
}
.main-content {}

/* END Override  */

.announcement {

  padding-top: 10px;
  text-align: center;
  background-color: #2093cd;
  color: white;
  vertical-align: middle;
  font-weight: bolder;
  border-bottom: 1px solid #666;
  font-size: 16px;
}

.announcement a,
.announcement i {
  color: #d2e7f5;
}

.announcement a:hover {
  color: #78caf1;
}

.footer {
    background-color: #0f265c;
    color: white;

    font-size: 14px;
    padding-top: 10px;
}

.footer-logo {
    max-height: 35px;margin-bottom: 5px;
}

/* KrakenDesigner */
.logo-mini {
    padding:1rem;
}

.label-wildcard {
    background-color: #888;
}
.label-wildcard-asterisk {
    color:#0a0;
}

.method_header {
    width: 55px;
    font-size: 12px;
}
.method_GET {
    background-color: #00a65a;
    color: white;
}

.method_POST {
    background-color: #3c8dbc;
    color: white;
}

.method_PUT {
    background-color: #f39c12;
    color: white;
}

.method_DELETE {
    background-color: #a94442;
    color: white;
}

.method_PATCH {
    background-color: #00A0A7;
    color: white;
}

.method_path {
    display: inline-block;
    width: 12rem;
    margin: 8px 0 -8px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-group-item-text.text-bold {
    color: #2752a3;
}

a.badge-remove:hover {
    background-color: #a94442;
    color: white;
}

.icon-warning {
    background-color: inherit;
    color: #a94442;
}

.font-fixed {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#drop_zone {
    display: block;
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-style: dashed;

}

#drop_zone:hover {
    background-color: #bfc9d0;
}

.modal-dialog {
    margin: 100px auto;
}

.modal-body pre {
    /* Show scroll in code blocks inside modals */
    height: auto;
    max-height: 500px;
    overflow: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

.secondary-box {
    background-color: #f1f1f1;
}

.big-label .label {
    font-size: 17px;
    padding: 5px 20px;
    line-height: 50px;
}

.btn-border-only {
    border: 1px solid #fff;
    color: white;
    font-weight: bold;
}

table.downloads a {
    color: #2752a3;
}

table.downloads a.sha {
    color: #666;
}

/* DOCUMENTATION */

section.docs p, section.docs li, section.blog p, section.blog li { font-size: 16px; line-height: 24px;}
section.docs h1 { color: #3d5572; font-size: 25px; line-height: 35px; font-weight: 400; border-bottom: 1px solid #eee; }
section.docs h2 { color: #3d5572; font-size: 20px; line-height: 30px; font-weight: 400; border-bottom: 1px solid #eee; }
section.docs h3 { color: #3d5572; font-size: 18px; line-height: 25px; font-weight: 400; }
section.docs h4 { color: #3d5572; font-size: 17px; line-height: 20px; font-weight: 300; }
section.docs h5 { color: #3d5572; font-size: 16px; line-height: 18px; font-weight: 300; }
section.docs a:hover { text-decoration: underline }

section.docs .note {
    background-color: #f7f3ca;
    border-color: #e0d705;
}

section.docs .note h4 {
    color: #af813a;
    font-weight: bold;
}

section.docs table {
    width: 100%;
    max-width: 100%;
}

section.docs table>thead>tr>th,
section.docs table>tbody>tr>th,
section.docs table>tfoot>tr>th, section.docs table>thead>tr>td, section.docs table>tbody>tr>td, section.docs table>tfoot>tr>td {
    border-top: 1px solid #f4f4f4;
}
section.docs table>tbody>tr>td, section.docs table>tbody>tr>th, section.docs table>tfoot>tr>td, section.docs table>tfoot>tr>th, section.docs table>thead>tr>td, section.docs table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

section.docs table>thead>tr {
    background-color: #ecf0f5;
}


section.docs .TOC .box-header {
    background-color: #ecf0f5;
}

section.docs .TOC .box-body {
    background-color: rgba(236, 240, 245, 0.44);
}

section.docs .TOC .box-title {
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

section.docs .TOC a {
    font-weight: normal; cursor: hand
}

/* BLOG */
.blog-wrapper {
    padding: 50px 15px;
}

.blog p {
    font-size: 14px;
}

.blog h1 { font-size: 25px; line-height: 35px;  }
.blog h2 { font-size: 20px; line-height: 30px; font-weight: 600; }
.blog h3 { font-size: 18px; line-height: 25px; font-weight: 400; }
.blog h4 { font-size: 17px; line-height: 20px; font-weight: 300; }
.blog h5 { font-size: 16px; line-height: 18px; font-weight: 300; }

.blog-wrapper .navigation_container h3 {
    font-size: 20px;
    padding: 0px 5px;
    border-bottom: 1px solid #ccdae4;
}

.blog-wrapper .nav li a {
    font-size: 14px;
    line-height: 19px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
    color: #010226;
    border-left: 3px solid transparent;
    text-transform: capitalize;
}

.blog-wrapper .nav li a.active,
.blog-wrapper .nav li a:hover {
    background: transparent;
    border-left: 3px solid #4094cd;
    color: #3c8dbc;
}
 .blog-wrapper .nav h3 {
    font-size: 20px;
 }

.blog .image {
    height: 16rem;
    background-color: #eee;
    background-position: center;
    background-size: cover;
    display: block;
}

.blog .image-credit {
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    font-style: italic;
}

.blog .post-image,
.blog p img {
    max-width: 100%;
}
.blog .post-metadata .author {
    font-size: 13px;
}

.blog .post-metadata i {
    padding:0 2px;
}

.blog .tags {
    display: inline;
    position: relative;

}
.blog .tags ul {

}

.blog .tags ul li {
    font-size: 13px;
    display: inline;
    padding-left: 10px;
}

.blog-wrapper .paginator {
    font-size: 20px;
}

.blog .share a {
    font-size: 20px;
    padding: 0 5px;
    color: #0071CE;
}

.blog .share a:hover {
    color: #3c8dbc;
}

/*
 Generated with: hugo gen chromastyles --style=monokai;
 Styles: https://help.farbox.com/pygments.html;
*/
/* Background */ .chroma { color: #333; background-color: #f1f1f1 }
/* Error */ .chroma .err { color: #ff0000 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #f8fbe7 }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #000080; font-weight: bold; }
/* KeywordConstant */ .chroma .kc { color: #000080; font-weight: bold; }
/* KeywordDeclaration */ .chroma .kd { color: #000080; font-weight: bold; }
/* KeywordNamespace */ .chroma .kn { color: #000080; font-weight: bold; }
/* KeywordPseudo */ .chroma .kp { color: #000080; font-weight: bold; }
/* KeywordReserved */ .chroma .kr { color: #000080; font-weight: bold; }
/* KeywordType */ .chroma .kt { color: #000080; font-weight: bold; }
/* NameAttribute */ .chroma .na { color: #007f7f }
/* NameBuiltin */ .chroma .nb { color: #000080; font-weight: bold; }
/* NameTag */ .chroma .nt { }
/* LiteralDate */ .chroma .ld { color: blue; }
/* LiteralString */ .chroma .s { color: #2fb108; }
/* LiteralStringAffix */ .chroma .sa { color: #2fb108; }
/* LiteralStringBacktick */ .chroma .sb { color: #2fb108; }
/* LiteralStringChar */ .chroma .sc { color: #2fb108; }
/* LiteralStringDelimiter */ .chroma .dl { color: #2fb108; }
/* LiteralStringDoc */ .chroma .sd { color: #2fb108; }
/* LiteralStringDouble */ .chroma .s2 { color: #2fb108; }
/* LiteralStringEscape */ .chroma .se { color: #2fb108; }
/* LiteralStringHeredoc */ .chroma .sh { color: #2fb108; }
/* LiteralStringInterpol */ .chroma .si { color: #2fb108; }
/* LiteralStringOther */ .chroma .sx { color: #2fb108; }
/* LiteralStringRegex */ .chroma .sr { color: #2fb108; }
/* LiteralStringSingle */ .chroma .s1 { color: #2fb108; }
/* LiteralStringSymbol */ .chroma .ss { color: #2fb108; }
/* LiteralNumber */ .chroma .m { color: blue; }
/* LiteralNumberBin */ .chroma .mb { color: blue; }
/* LiteralNumberFloat */ .chroma .mf { color: blue; }
/* LiteralNumberHex */ .chroma .mh { color: blue; }
/* LiteralNumberInteger */ .chroma .mi { color: blue; }
/* LiteralNumberIntegerLong */ .chroma .il { color: blue; }
/* LiteralNumberOct */ .chroma .mo { color: blue; }
/* Comment */ .chroma .c { color: #007f7f }
/* CommentHashbang */ .chroma .ch { color: #007f7f }
/* CommentMultiline */ .chroma .cm { color: #007f7f }
/* CommentSingle */ .chroma .c1 { color: #007f7f }
/* CommentSpecial */ .chroma .cs { color: #007f7f }
/* CommentPreproc */ .chroma .cp { color: #00ff00; }
/* CommentPreprocFile */ .chroma .cpf { color: #00ff00; }
/* GenericHeading */ .chroma .gh { }
/* GenericStrong */ .chroma .gs { }
/* GenericSubheading */ .chroma .gu { }
