/* Override main theme */
pre {
    border:0;
    border-radius: 0;
    border-left: 4px solid #2094ce;
}
code {
    color: #2752a3;
}

textarea.form-control {
    font-family: 'Courier New', Courier, monospace;
    background-color: #252525;
    color: gold;
}
.badge {
    background-color: #0071CE;
}

.badge.badge-inverse,
.box.box-solid.box-info > .box-header a.badge.badge-inverse {
    background-color: #FFF;
    color: #0071CE;
}

.badge.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    background-color: #0f265c;
}

a.badge.badge-inverse:hover {
    color: #FFF;
    background-color: #0071CE;
}

.nav-tabs-custom .nav-tabs li a {
    font-weight: bold;
    font-size: 15px;
    color: #0071CE;
}

.wrapper {
    background-color: white !important;
}
.skin-black-light .main-header .navbar .nav>li>a:hover, .skin-black-light .main-header .navbar .nav>li>a:active, .skin-black-light .main-header .navbar .nav>li>a:focus, .skin-black-light .main-header .navbar .nav .open>a, .skin-black-light .main-header .navbar .nav .open>a:hover, .skin-black-light .main-header .navbar .nav .open>a:focus, .skin-black-light .main-header .navbar .nav>.active>a {
    background: none;
    color: #fff;
    text-decoration: underline;
}
.skin-black-light .main-header {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.skin-black-light .main-header .navbar {
    background: rgba(255, 255, 255, 0);
}

.skin-black-light .main-header > .logo {
    border: 0;
    background-color: transparent;
}


.skin-black-light .sidebar-menu>li:hover>a, .skin-black-light .sidebar-menu>li.active>a {
    color: #0071CE;
    background: #ececec;
}

.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-black-light .main-header .navbar .navbar-right > li > a,
.skin-black-light .main-header .navbar .navbar-nav>li>a{
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.skin-black-light .navbar-collapse.pull-left {
    background: #0071CE;
}
.skin-black-light .main-header .navbar-toggle {
    color: white;
}

.skin-black-light .wrapper, .skin-black-light .main-sidebar, .skin-black-light .left-side {
    background-color: #fff;
}

.skin-black-light .sidebar-menu>li>.treeview-menu {
    background: #f0f7fb;
}

.skin-black-light .content-wrapper, .skin-black-light .main-footer {
    border-left: none;
}

.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #f7f7f7;
    z-index: 800;
}

.content-header>h1 {
    font-size: 30px;
    font-weight: 300;
}



.github-container {
    margin-top: 15px;
}

/* Remove black background from logo */
.skin-black-light .main-header > .logo:hover {
    background: rgba(255, 255, 255, 0);
}

.main-footer {
    margin: 0;
}

.main-header {
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: #0071CE;
    z-index: 9999;
}


.main-header .navbar > .sidebar-toggle {
    color: #333;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

.btn-primary, .btn-success {
    background-color: #0071CE;
    border-color: #0071CE;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success.hover,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover
.btn-primary:hover {
    background-color: #0071CE;
    border-color: #006cff;
}

.btn-success {
    color: #fff;
    background-color: #0071CE;
    border-color: #0071CE;
  }
  .btn-success:focus,
  .btn-success.focus {
    color: #fff;
    background-color: #0071CE;
    border-color: #006cff;
  }
  .btn-success:hover {
    color: #fff;
    background-color: #0071CE;
  }
  .btn-success:active,
  .btn-success.active,
  .open > .dropdown-toggle.btn-success {
    color: #fff;
        border-color: #006cff;
  }
  .btn-success:active:hover,
  .btn-success.active:hover,
  .open > .dropdown-toggle.btn-success:hover,
  .btn-success:active:focus,
  .btn-success.active:focus,
  .open > .dropdown-toggle.btn-success:focus,
  .btn-success:active.focus,
  .btn-success.active.focus,
  .open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #0071CE;
    border-color: #006cff;
  }

.btn-circle {
    border-radius: 10em!important
}
.main-content {}


.box.box-solid.box-info .box-title small {
    color: #FFF;
}

.text-lg {
    font-size: 16px;
}

.box-title.text-xl {
    font-size: 22px;
}

.box.text-lg {
    background-color: aliceblue;
    padding: 10px;
}

.box.box-info {
    border-top-color: #0071CE;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
  background-color: #0071CE !important;
}


/* END Override  */

.announcement {

  padding-top: 10px;
  text-align: center;
  background-color: #2093cd;
  color: white;
  vertical-align: middle;
  font-weight: bolder;
  border-bottom: 1px solid #666;
  font-size: 16px;
}

.announcement a,
.announcement i {
  color: #d2e7f5;
}

.announcement a:hover {
  color: #78caf1;
}

.footer {
    background-color: #0f265c;
    color: white;

    font-size: 14px;
    padding-top: 10px;
}

.footer-logo {
    max-height: 35px;margin-bottom: 5px;
}

/* KrakenDesigner */
.logo-mini {
    padding:1rem;
}

.label-wildcard {
    background-color: #888;
}
.label-wildcard-asterisk {
    color:#0a0;
}

.method_header {
    width: 55px;
    font-size: 12px;
}
.method_GET {
    background-color: #00a65a;
    color: white;
}

.method_POST {
    background-color: #3c8dbc;
    color: white;
}

.method_PUT {
    background-color: #f39c12;
    color: white;
}

.method_DELETE {
    background-color: #a94442;
    color: white;
}

.method_PATCH {
    background-color: #00A0A7;
    color: white;
}

.method_path {
    display: inline-block;
    width: 12rem;
    margin: 8px 0 -8px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-group-item-text.text-bold {
    color: #2752a3;
}

a.badge-remove:hover {
    background-color: #a94442;
    color: white;
}

.icon-warning {
    background-color: inherit;
    color: #a94442;
}

.font-fixed {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#drop_zone {
    display: block;
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-style: dashed;

}

#drop_zone:hover {
    background-color: #bfc9d0;
}

.modal-dialog {
    margin: 100px auto;
}

.modal-body pre {
    /* Show scroll in code blocks inside modals */
    height: auto;
    max-height: 500px;
    overflow: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

.secondary-box {
    background-color: #f1f1f1;
}

.big-label .label {
    font-size: 17px;
    padding: 5px 20px;
    line-height: 50px;
}

.btn-border-only {
    border: 1px solid #fff;
    color: white;
    font-weight: bold;
}

table.downloads a {
    color: #2752a3;
}

table.downloads a.sha {
    color: #666;
}